/*#################################################################################################################################################################*/
/*                                                                        border Pixels                                                                            */
/*#################################################################################################################################################################*/
@for $border from 1 through  20 {
    .b1-#{$border}px {
        border: $border+px solid black;
        }
    }
@for $border from 1 through  20 {
    .b2-#{$border}px {
        border: $border+px dotted black;
        }
    }
@for $border from 1 through  20 {
    .b3-#{$border}px {
        border: $border+px dashed black;
        }
    }
@for $border from 1 through  20 {
    .b-#{$border}px {
        border: $border+px double black;
        }
    }
/*#################################################################################################################################################################*/
/*                                                                        border top Pixels                                                                        */
/*#################################################################################################################################################################*/
@for $border-top from 1 through  20 {
    .bt1-#{$border-top}px {
        border-top: $border-top+px solid black;
        }
    }
@for $border-top from 1 through  20 {
    .bt2-#{$border-top}px {
        border-top: $border-top+px dotted black;
        }
    }
@for $border-top from 1 through  20 {
    .bt3-#{$border-top}px {
        border-top: $border-top+px dashed black;
        }
    }
@for $border-top from 1 through  20 {
    .bt4-#{$border-top}px {
        border-top: $border-top+px double black;
        }
    }
/*#################################################################################################################################################################*/
/*                                                                        border bottom Pixels                                                                     */
/*#################################################################################################################################################################*/
@for $border-bottom from 1 through  20 {
    .bb1-#{$border-bottom}px {
        border-bottom: $border-bottom+px solid black;
        }
    }
@for $border-bottom from 1 through  20 {
    .bb2-#{$border-bottom}px {
        border-bottom: $border-bottom+px dotted black;
        }
    }
@for $border-bottom from 1 through  20 {
    .bb3-#{$border-bottom}px {
        border-bottom: $border-bottom+px dashed black;
        }
    }
@for $border-bottom from 1 through  20 {
    .bb4-#{$border-bottom}px {
        border-bottom: $border-bottom+px double black;
        }
    }
/*#################################################################################################################################################################*/
/*                                                                        border left Pixels                                                                       */
/*#################################################################################################################################################################*/
@for $border-left from 1 through  20 {
    .bs1-#{$border-left}px {
        border-left: $border-left+px solid black;
        }
    }
@for $border-left from 1 through  20 {
    .bs2-#{$border-left}px {
        border-left: $border-left+px dotted black;
        }
    }
@for $border-left from 1 through  20 {
    .bs3-#{$border-left}px {
        border-left: $border-left+px dashed black;
        }
    }
@for $border-left from 1 through  20 {
    .bs4-#{$border-left}px {
        border-left: $border-left+px double black;
        }
    }
/*#################################################################################################################################################################*/
/*                                                                        border right Pixels                                                                      */
/*#################################################################################################################################################################*/
@for $border-right from 1 through  20 {
    .be1-#{$border-right}px {
        border-right: $border-right+px solid black;
        }
    }
@for $border-right from 1 through  20 {
    .be2-#{$border-right}px {
        border-right: $border-right+px dotted black;
        }
    }
@for $border-right from 1 through  20 {
    .be3-#{$border-right}px {
        border-right: $border-right+px dashed black;
        }
    }
@for $border-right from 1 through  20 {
    .be4-#{$border-right}px {
        border-right: $border-right+px double black;
        }
    }
/*#################################################################################################################################################################*/
/*                                                                        border radius                                                                            */
/*#################################################################################################################################################################*/
@for $border-radius from 1 through  40 {
    .br-#{$border-radius}px {
        border-radius: $border-radius+px;
        }
    }
@for $border-radius from 1 through  100 {
    .br-#{$border-radius}per {
        border-radius: $border-radius'%';
        }
    }
/*#################################################################################################################################################################*/
/*                                                                        border-top-left-radius  Pixels & Percentag                                            */
/*#################################################################################################################################################################*/
@for $border-top-left-radius from 1 through  40 {
    .btlr-#{$border-top-left-radius}px {
        border-top-left-radius: $border-top-left-radius+px;
        }
    }
@for $border-top-left-radius from 1 through  100 {
    .btlr-#{$border-top-left-radius}per {
        border-top-left-radius: $border-top-left-radius'%';
        }
    }
/*#################################################################################################################################################################*/
/*                                                                        border-top-right-radius Pixels & Percentag                                               */
/*#################################################################################################################################################################*/
@for $border-top-right-radius from 1 through  40 {
    .btrr-#{$border-top-right-radius}px {
        border-top-right-radius: $border-top-right-radius+px;
        }
    }
@for $border-top-right-radius from 1 through  100 {
    .btrr-#{$border-top-right-radius}per {
        border-top-right-radius: $border-top-right-radius'%';
        }
    }
/*#################################################################################################################################################################*/
/*                                                                        border-bottom-left-radius Pixels & Percentag                                             */
/*#################################################################################################################################################################*/
@for $border-bottom-left-radius from 1 through  40 {
    .bblr-#{$border-bottom-left-radius}px {
        border-bottom-left-radius: $border-bottom-left-radius+px;
        }
    }
@for $border-bottom-left-radius from 1 through  100 {
    .bblr-#{$border-bottom-left-radius}per {
        border-bottom-left-radius: $border-bottom-left-radius'%';
        }
    }
/*#################################################################################################################################################################*/
/*                                                                        border-bottom-right-radius Pixels & Percentag                                            */
/*#################################################################################################################################################################*/
@for $border-bottom-right-radius from 1 through  40 {
    .bbrr-#{$border-bottom-right-radius}px {
        border-bottom-right-radius: $border-bottom-right-radius+px;
        }
    }
@for $border-bottom-right-radius from 1 through  100 {
    .bbrr-#{$border-bottom-right-radius}per {
        border-bottom-right-radius: $border-bottom-right-radius'%';
        }
    }