/*#################################################################################################################################################################*/
/*                                                                        margin auto                                                                              */
/*#################################################################################################################################################################*/
.m-auto {
  margin: auto;
}

/*#################################################################################################################################################################*/
/*                                                                        margin top                                                                               */
/*#################################################################################################################################################################*/
.mt-1per {
  margin-top: 1%;
}

.mt-2per {
  margin-top: 2%;
}

.mt-3per {
  margin-top: 3%;
}

.mt-4per {
  margin-top: 4%;
}

.mt-5per {
  margin-top: 5%;
}

.mt-6per {
  margin-top: 6%;
}

.mt-7per {
  margin-top: 7%;
}

.mt-8per {
  margin-top: 8%;
}

.mt-9per {
  margin-top: 9%;
}

.mt-10per {
  margin-top: 10%;
}

.mt-11per {
  margin-top: 11%;
}

.mt-12per {
  margin-top: 12%;
}

.mt-13per {
  margin-top: 13%;
}

.mt-14per {
  margin-top: 14%;
}

.mt-15per {
  margin-top: 15%;
}

.mt-16per {
  margin-top: 16%;
}

.mt-17per {
  margin-top: 17%;
}

.mt-18per {
  margin-top: 18%;
}

.mt-19per {
  margin-top: 19%;
}

.mt-20per {
  margin-top: 20%;
}

.mt-21per {
  margin-top: 21%;
}

.mt-22per {
  margin-top: 22%;
}

.mt-23per {
  margin-top: 23%;
}

.mt-24per {
  margin-top: 24%;
}

.mt-25per {
  margin-top: 25%;
}

.mt-26per {
  margin-top: 26%;
}

.mt-27per {
  margin-top: 27%;
}

.mt-28per {
  margin-top: 28%;
}

.mt-29per {
  margin-top: 29%;
}

.mt-30per {
  margin-top: 30%;
}

.mt-31per {
  margin-top: 31%;
}

.mt-32per {
  margin-top: 32%;
}

.mt-33per {
  margin-top: 33%;
}

.mt-34per {
  margin-top: 34%;
}

.mt-35per {
  margin-top: 35%;
}

.mt-36per {
  margin-top: 36%;
}

.mt-37per {
  margin-top: 37%;
}

.mt-38per {
  margin-top: 38%;
}

.mt-39per {
  margin-top: 39%;
}

.mt-40per {
  margin-top: 40%;
}

.mt-41per {
  margin-top: 41%;
}

.mt-42per {
  margin-top: 42%;
}

.mt-43per {
  margin-top: 43%;
}

.mt-44per {
  margin-top: 44%;
}

.mt-45per {
  margin-top: 45%;
}

.mt-46per {
  margin-top: 46%;
}

.mt-47per {
  margin-top: 47%;
}

.mt-48per {
  margin-top: 48%;
}

.mt-49per {
  margin-top: 49%;
}

.mt-50per {
  margin-top: 50%;
}

.mt-51per {
  margin-top: 51%;
}

.mt-52per {
  margin-top: 52%;
}

.mt-53per {
  margin-top: 53%;
}

.mt-54per {
  margin-top: 54%;
}

.mt-55per {
  margin-top: 55%;
}

.mt-56per {
  margin-top: 56%;
}

.mt-57per {
  margin-top: 57%;
}

.mt-58per {
  margin-top: 58%;
}

.mt-59per {
  margin-top: 59%;
}

.mt-60per {
  margin-top: 60%;
}

.mt-61per {
  margin-top: 61%;
}

.mt-62per {
  margin-top: 62%;
}

.mt-63per {
  margin-top: 63%;
}

.mt-64per {
  margin-top: 64%;
}

.mt-65per {
  margin-top: 65%;
}

.mt-66per {
  margin-top: 66%;
}

.mt-67per {
  margin-top: 67%;
}

.mt-68per {
  margin-top: 68%;
}

.mt-69per {
  margin-top: 69%;
}

.mt-70per {
  margin-top: 70%;
}

.mt-71per {
  margin-top: 71%;
}

.mt-72per {
  margin-top: 72%;
}

.mt-73per {
  margin-top: 73%;
}

.mt-74per {
  margin-top: 74%;
}

.mt-75per {
  margin-top: 75%;
}

.mt-76per {
  margin-top: 76%;
}

.mt-77per {
  margin-top: 77%;
}

.mt-78per {
  margin-top: 78%;
}

.mt-79per {
  margin-top: 79%;
}

.mt-80per {
  margin-top: 80%;
}

.mt-81per {
  margin-top: 81%;
}

.mt-82per {
  margin-top: 82%;
}

.mt-83per {
  margin-top: 83%;
}

.mt-84per {
  margin-top: 84%;
}

.mt-85per {
  margin-top: 85%;
}

.mt-86per {
  margin-top: 86%;
}

.mt-87per {
  margin-top: 87%;
}

.mt-88per {
  margin-top: 88%;
}

.mt-89per {
  margin-top: 89%;
}

.mt-90per {
  margin-top: 90%;
}

.mt-91per {
  margin-top: 91%;
}

.mt-92per {
  margin-top: 92%;
}

.mt-93per {
  margin-top: 93%;
}

.mt-94per {
  margin-top: 94%;
}

.mt-95per {
  margin-top: 95%;
}

.mt-96per {
  margin-top: 96%;
}

.mt-97per {
  margin-top: 97%;
}

.mt-98per {
  margin-top: 98%;
}

.mt-99per {
  margin-top: 99%;
}

.mt-100per {
  margin-top: 100%;
}

.mt-1px {
  margin-top: 1px;
}

.mt-2px {
  margin-top: 2px;
}

.mt-3px {
  margin-top: 3px;
}

.mt-4px {
  margin-top: 4px;
}

.mt-5px {
  margin-top: 5px;
}

.mt-6px {
  margin-top: 6px;
}

.mt-7px {
  margin-top: 7px;
}

.mt-8px {
  margin-top: 8px;
}

.mt-9px {
  margin-top: 9px;
}

.mt-10px {
  margin-top: 10px;
}

.mt-11px {
  margin-top: 11px;
}

.mt-12px {
  margin-top: 12px;
}

.mt-13px {
  margin-top: 13px;
}

.mt-14px {
  margin-top: 14px;
}

.mt-15px {
  margin-top: 15px;
}

.mt-16px {
  margin-top: 16px;
}

.mt-17px {
  margin-top: 17px;
}

.mt-18px {
  margin-top: 18px;
}

.mt-19px {
  margin-top: 19px;
}

.mt-20px {
  margin-top: 20px;
}

.mt-21px {
  margin-top: 21px;
}

.mt-22px {
  margin-top: 22px;
}

.mt-23px {
  margin-top: 23px;
}

.mt-24px {
  margin-top: 24px;
}

.mt-25px {
  margin-top: 25px;
}

.mt-26px {
  margin-top: 26px;
}

.mt-27px {
  margin-top: 27px;
}

.mt-28px {
  margin-top: 28px;
}

.mt-29px {
  margin-top: 29px;
}

.mt-30px {
  margin-top: 30px;
}

.mt-31px {
  margin-top: 31px;
}

.mt-32px {
  margin-top: 32px;
}

.mt-33px {
  margin-top: 33px;
}

.mt-34px {
  margin-top: 34px;
}

.mt-35px {
  margin-top: 35px;
}

.mt-36px {
  margin-top: 36px;
}

.mt-37px {
  margin-top: 37px;
}

.mt-38px {
  margin-top: 38px;
}

.mt-39px {
  margin-top: 39px;
}

.mt-40px {
  margin-top: 40px;
}

.mt-41px {
  margin-top: 41px;
}

.mt-42px {
  margin-top: 42px;
}

.mt-43px {
  margin-top: 43px;
}

.mt-44px {
  margin-top: 44px;
}

.mt-45px {
  margin-top: 45px;
}

.mt-46px {
  margin-top: 46px;
}

.mt-47px {
  margin-top: 47px;
}

.mt-48px {
  margin-top: 48px;
}

.mt-49px {
  margin-top: 49px;
}

.mt-50px {
  margin-top: 50px;
}

.mt-51px {
  margin-top: 51px;
}

.mt-52px {
  margin-top: 52px;
}

.mt-53px {
  margin-top: 53px;
}

.mt-54px {
  margin-top: 54px;
}

.mt-55px {
  margin-top: 55px;
}

.mt-56px {
  margin-top: 56px;
}

.mt-57px {
  margin-top: 57px;
}

.mt-58px {
  margin-top: 58px;
}

.mt-59px {
  margin-top: 59px;
}

.mt-60px {
  margin-top: 60px;
}

.mt-61px {
  margin-top: 61px;
}

.mt-62px {
  margin-top: 62px;
}

.mt-63px {
  margin-top: 63px;
}

.mt-64px {
  margin-top: 64px;
}

.mt-65px {
  margin-top: 65px;
}

.mt-66px {
  margin-top: 66px;
}

.mt-67px {
  margin-top: 67px;
}

.mt-68px {
  margin-top: 68px;
}

.mt-69px {
  margin-top: 69px;
}

.mt-70px {
  margin-top: 70px;
}

.mt-71px {
  margin-top: 71px;
}

.mt-72px {
  margin-top: 72px;
}

.mt-73px {
  margin-top: 73px;
}

.mt-74px {
  margin-top: 74px;
}

.mt-75px {
  margin-top: 75px;
}

.mt-76px {
  margin-top: 76px;
}

.mt-77px {
  margin-top: 77px;
}

.mt-78px {
  margin-top: 78px;
}

.mt-79px {
  margin-top: 79px;
}

.mt-80px {
  margin-top: 80px;
}

.mt-81px {
  margin-top: 81px;
}

.mt-82px {
  margin-top: 82px;
}

.mt-83px {
  margin-top: 83px;
}

.mt-84px {
  margin-top: 84px;
}

.mt-85px {
  margin-top: 85px;
}

.mt-86px {
  margin-top: 86px;
}

.mt-87px {
  margin-top: 87px;
}

.mt-88px {
  margin-top: 88px;
}

.mt-89px {
  margin-top: 89px;
}

.mt-90px {
  margin-top: 90px;
}

.mt-91px {
  margin-top: 91px;
}

.mt-92px {
  margin-top: 92px;
}

.mt-93px {
  margin-top: 93px;
}

.mt-94px {
  margin-top: 94px;
}

.mt-95px {
  margin-top: 95px;
}

.mt-96px {
  margin-top: 96px;
}

.mt-97px {
  margin-top: 97px;
}

.mt-98px {
  margin-top: 98px;
}

.mt-99px {
  margin-top: 99px;
}

.mt-100px {
  margin-top: 100px;
}

/*#################################################################################################################################################################*/
/*                                                                        margin bottom                                                                            */
/*#################################################################################################################################################################*/
.mb-1per {
  margin-bottom: 1%;
}

.mb-2per {
  margin-bottom: 2%;
}

.mb-3per {
  margin-bottom: 3%;
}

.mb-4per {
  margin-bottom: 4%;
}

.mb-5per {
  margin-bottom: 5%;
}

.mb-6per {
  margin-bottom: 6%;
}

.mb-7per {
  margin-bottom: 7%;
}

.mb-8per {
  margin-bottom: 8%;
}

.mb-9per {
  margin-bottom: 9%;
}

.mb-10per {
  margin-bottom: 10%;
}

.mb-11per {
  margin-bottom: 11%;
}

.mb-12per {
  margin-bottom: 12%;
}

.mb-13per {
  margin-bottom: 13%;
}

.mb-14per {
  margin-bottom: 14%;
}

.mb-15per {
  margin-bottom: 15%;
}

.mb-16per {
  margin-bottom: 16%;
}

.mb-17per {
  margin-bottom: 17%;
}

.mb-18per {
  margin-bottom: 18%;
}

.mb-19per {
  margin-bottom: 19%;
}

.mb-20per {
  margin-bottom: 20%;
}

.mb-21per {
  margin-bottom: 21%;
}

.mb-22per {
  margin-bottom: 22%;
}

.mb-23per {
  margin-bottom: 23%;
}

.mb-24per {
  margin-bottom: 24%;
}

.mb-25per {
  margin-bottom: 25%;
}

.mb-26per {
  margin-bottom: 26%;
}

.mb-27per {
  margin-bottom: 27%;
}

.mb-28per {
  margin-bottom: 28%;
}

.mb-29per {
  margin-bottom: 29%;
}

.mb-30per {
  margin-bottom: 30%;
}

.mb-31per {
  margin-bottom: 31%;
}

.mb-32per {
  margin-bottom: 32%;
}

.mb-33per {
  margin-bottom: 33%;
}

.mb-34per {
  margin-bottom: 34%;
}

.mb-35per {
  margin-bottom: 35%;
}

.mb-36per {
  margin-bottom: 36%;
}

.mb-37per {
  margin-bottom: 37%;
}

.mb-38per {
  margin-bottom: 38%;
}

.mb-39per {
  margin-bottom: 39%;
}

.mb-40per {
  margin-bottom: 40%;
}

.mb-41per {
  margin-bottom: 41%;
}

.mb-42per {
  margin-bottom: 42%;
}

.mb-43per {
  margin-bottom: 43%;
}

.mb-44per {
  margin-bottom: 44%;
}

.mb-45per {
  margin-bottom: 45%;
}

.mb-46per {
  margin-bottom: 46%;
}

.mb-47per {
  margin-bottom: 47%;
}

.mb-48per {
  margin-bottom: 48%;
}

.mb-49per {
  margin-bottom: 49%;
}

.mb-50per {
  margin-bottom: 50%;
}

.mb-51per {
  margin-bottom: 51%;
}

.mb-52per {
  margin-bottom: 52%;
}

.mb-53per {
  margin-bottom: 53%;
}

.mb-54per {
  margin-bottom: 54%;
}

.mb-55per {
  margin-bottom: 55%;
}

.mb-56per {
  margin-bottom: 56%;
}

.mb-57per {
  margin-bottom: 57%;
}

.mb-58per {
  margin-bottom: 58%;
}

.mb-59per {
  margin-bottom: 59%;
}

.mb-60per {
  margin-bottom: 60%;
}

.mb-61per {
  margin-bottom: 61%;
}

.mb-62per {
  margin-bottom: 62%;
}

.mb-63per {
  margin-bottom: 63%;
}

.mb-64per {
  margin-bottom: 64%;
}

.mb-65per {
  margin-bottom: 65%;
}

.mb-66per {
  margin-bottom: 66%;
}

.mb-67per {
  margin-bottom: 67%;
}

.mb-68per {
  margin-bottom: 68%;
}

.mb-69per {
  margin-bottom: 69%;
}

.mb-70per {
  margin-bottom: 70%;
}

.mb-71per {
  margin-bottom: 71%;
}

.mb-72per {
  margin-bottom: 72%;
}

.mb-73per {
  margin-bottom: 73%;
}

.mb-74per {
  margin-bottom: 74%;
}

.mb-75per {
  margin-bottom: 75%;
}

.mb-76per {
  margin-bottom: 76%;
}

.mb-77per {
  margin-bottom: 77%;
}

.mb-78per {
  margin-bottom: 78%;
}

.mb-79per {
  margin-bottom: 79%;
}

.mb-80per {
  margin-bottom: 80%;
}

.mb-81per {
  margin-bottom: 81%;
}

.mb-82per {
  margin-bottom: 82%;
}

.mb-83per {
  margin-bottom: 83%;
}

.mb-84per {
  margin-bottom: 84%;
}

.mb-85per {
  margin-bottom: 85%;
}

.mb-86per {
  margin-bottom: 86%;
}

.mb-87per {
  margin-bottom: 87%;
}

.mb-88per {
  margin-bottom: 88%;
}

.mb-89per {
  margin-bottom: 89%;
}

.mb-90per {
  margin-bottom: 90%;
}

.mb-91per {
  margin-bottom: 91%;
}

.mb-92per {
  margin-bottom: 92%;
}

.mb-93per {
  margin-bottom: 93%;
}

.mb-94per {
  margin-bottom: 94%;
}

.mb-95per {
  margin-bottom: 95%;
}

.mb-96per {
  margin-bottom: 96%;
}

.mb-97per {
  margin-bottom: 97%;
}

.mb-98per {
  margin-bottom: 98%;
}

.mb-99per {
  margin-bottom: 99%;
}

.mb-100per {
  margin-bottom: 100%;
}

.mb-1px {
  margin-bottom: 1px;
}

.mb-2px {
  margin-bottom: 2px;
}

.mb-3px {
  margin-bottom: 3px;
}

.mb-4px {
  margin-bottom: 4px;
}

.mb-5px {
  margin-bottom: 5px;
}

.mb-6px {
  margin-bottom: 6px;
}

.mb-7px {
  margin-bottom: 7px;
}

.mb-8px {
  margin-bottom: 8px;
}

.mb-9px {
  margin-bottom: 9px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-11px {
  margin-bottom: 11px;
}

.mb-12px {
  margin-bottom: 12px;
}

.mb-13px {
  margin-bottom: 13px;
}

.mb-14px {
  margin-bottom: 14px;
}

.mb-15px {
  margin-bottom: 15px;
}

.mb-16px {
  margin-bottom: 16px;
}

.mb-17px {
  margin-bottom: 17px;
}

.mb-18px {
  margin-bottom: 18px;
}

.mb-19px {
  margin-bottom: 19px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-21px {
  margin-bottom: 21px;
}

.mb-22px {
  margin-bottom: 22px;
}

.mb-23px {
  margin-bottom: 23px;
}

.mb-24px {
  margin-bottom: 24px;
}

.mb-25px {
  margin-bottom: 25px;
}

.mb-26px {
  margin-bottom: 26px;
}

.mb-27px {
  margin-bottom: 27px;
}

.mb-28px {
  margin-bottom: 28px;
}

.mb-29px {
  margin-bottom: 29px;
}

.mb-30px {
  margin-bottom: 30px;
}

.mb-31px {
  margin-bottom: 31px;
}

.mb-32px {
  margin-bottom: 32px;
}

.mb-33px {
  margin-bottom: 33px;
}

.mb-34px {
  margin-bottom: 34px;
}

.mb-35px {
  margin-bottom: 35px;
}

.mb-36px {
  margin-bottom: 36px;
}

.mb-37px {
  margin-bottom: 37px;
}

.mb-38px {
  margin-bottom: 38px;
}

.mb-39px {
  margin-bottom: 39px;
}

.mb-40px {
  margin-bottom: 40px;
}

.mb-41px {
  margin-bottom: 41px;
}

.mb-42px {
  margin-bottom: 42px;
}

.mb-43px {
  margin-bottom: 43px;
}

.mb-44px {
  margin-bottom: 44px;
}

.mb-45px {
  margin-bottom: 45px;
}

.mb-46px {
  margin-bottom: 46px;
}

.mb-47px {
  margin-bottom: 47px;
}

.mb-48px {
  margin-bottom: 48px;
}

.mb-49px {
  margin-bottom: 49px;
}

.mb-50px {
  margin-bottom: 50px;
}

.mb-51px {
  margin-bottom: 51px;
}

.mb-52px {
  margin-bottom: 52px;
}

.mb-53px {
  margin-bottom: 53px;
}

.mb-54px {
  margin-bottom: 54px;
}

.mb-55px {
  margin-bottom: 55px;
}

.mb-56px {
  margin-bottom: 56px;
}

.mb-57px {
  margin-bottom: 57px;
}

.mb-58px {
  margin-bottom: 58px;
}

.mb-59px {
  margin-bottom: 59px;
}

.mb-60px {
  margin-bottom: 60px;
}

.mb-61px {
  margin-bottom: 61px;
}

.mb-62px {
  margin-bottom: 62px;
}

.mb-63px {
  margin-bottom: 63px;
}

.mb-64px {
  margin-bottom: 64px;
}

.mb-65px {
  margin-bottom: 65px;
}

.mb-66px {
  margin-bottom: 66px;
}

.mb-67px {
  margin-bottom: 67px;
}

.mb-68px {
  margin-bottom: 68px;
}

.mb-69px {
  margin-bottom: 69px;
}

.mb-70px {
  margin-bottom: 70px;
}

.mb-71px {
  margin-bottom: 71px;
}

.mb-72px {
  margin-bottom: 72px;
}

.mb-73px {
  margin-bottom: 73px;
}

.mb-74px {
  margin-bottom: 74px;
}

.mb-75px {
  margin-bottom: 75px;
}

.mb-76px {
  margin-bottom: 76px;
}

.mb-77px {
  margin-bottom: 77px;
}

.mb-78px {
  margin-bottom: 78px;
}

.mb-79px {
  margin-bottom: 79px;
}

.mb-80px {
  margin-bottom: 80px;
}

.mb-81px {
  margin-bottom: 81px;
}

.mb-82px {
  margin-bottom: 82px;
}

.mb-83px {
  margin-bottom: 83px;
}

.mb-84px {
  margin-bottom: 84px;
}

.mb-85px {
  margin-bottom: 85px;
}

.mb-86px {
  margin-bottom: 86px;
}

.mb-87px {
  margin-bottom: 87px;
}

.mb-88px {
  margin-bottom: 88px;
}

.mb-89px {
  margin-bottom: 89px;
}

.mb-90px {
  margin-bottom: 90px;
}

.mb-91px {
  margin-bottom: 91px;
}

.mb-92px {
  margin-bottom: 92px;
}

.mb-93px {
  margin-bottom: 93px;
}

.mb-94px {
  margin-bottom: 94px;
}

.mb-95px {
  margin-bottom: 95px;
}

.mb-96px {
  margin-bottom: 96px;
}

.mb-97px {
  margin-bottom: 97px;
}

.mb-98px {
  margin-bottom: 98px;
}

.mb-99px {
  margin-bottom: 99px;
}

.mb-100px {
  margin-bottom: 100px;
}

/*#################################################################################################################################################################*/
/*                                                                        margin left                                                                              */
/*#################################################################################################################################################################*/
.ms-1per {
  margin-left: 1%;
}

.ms-2per {
  margin-left: 2%;
}

.ms-3per {
  margin-left: 3%;
}

.ms-4per {
  margin-left: 4%;
}

.ms-5per {
  margin-left: 5%;
}

.ms-6per {
  margin-left: 6%;
}

.ms-7per {
  margin-left: 7%;
}

.ms-8per {
  margin-left: 8%;
}

.ms-9per {
  margin-left: 9%;
}

.ms-10per {
  margin-left: 10%;
}

.ms-11per {
  margin-left: 11%;
}

.ms-12per {
  margin-left: 12%;
}

.ms-13per {
  margin-left: 13%;
}

.ms-14per {
  margin-left: 14%;
}

.ms-15per {
  margin-left: 15%;
}

.ms-16per {
  margin-left: 16%;
}

.ms-17per {
  margin-left: 17%;
}

.ms-18per {
  margin-left: 18%;
}

.ms-19per {
  margin-left: 19%;
}

.ms-20per {
  margin-left: 20%;
}

.ms-21per {
  margin-left: 21%;
}

.ms-22per {
  margin-left: 22%;
}

.ms-23per {
  margin-left: 23%;
}

.ms-24per {
  margin-left: 24%;
}

.ms-25per {
  margin-left: 25%;
}

.ms-26per {
  margin-left: 26%;
}

.ms-27per {
  margin-left: 27%;
}

.ms-28per {
  margin-left: 28%;
}

.ms-29per {
  margin-left: 29%;
}

.ms-30per {
  margin-left: 30%;
}

.ms-31per {
  margin-left: 31%;
}

.ms-32per {
  margin-left: 32%;
}

.ms-33per {
  margin-left: 33%;
}

.ms-34per {
  margin-left: 34%;
}

.ms-35per {
  margin-left: 35%;
}

.ms-36per {
  margin-left: 36%;
}

.ms-37per {
  margin-left: 37%;
}

.ms-38per {
  margin-left: 38%;
}

.ms-39per {
  margin-left: 39%;
}

.ms-40per {
  margin-left: 40%;
}

.ms-41per {
  margin-left: 41%;
}

.ms-42per {
  margin-left: 42%;
}

.ms-43per {
  margin-left: 43%;
}

.ms-44per {
  margin-left: 44%;
}

.ms-45per {
  margin-left: 45%;
}

.ms-46per {
  margin-left: 46%;
}

.ms-47per {
  margin-left: 47%;
}

.ms-48per {
  margin-left: 48%;
}

.ms-49per {
  margin-left: 49%;
}

.ms-50per {
  margin-left: 50%;
}

.ms-51per {
  margin-left: 51%;
}

.ms-52per {
  margin-left: 52%;
}

.ms-53per {
  margin-left: 53%;
}

.ms-54per {
  margin-left: 54%;
}

.ms-55per {
  margin-left: 55%;
}

.ms-56per {
  margin-left: 56%;
}

.ms-57per {
  margin-left: 57%;
}

.ms-58per {
  margin-left: 58%;
}

.ms-59per {
  margin-left: 59%;
}

.ms-60per {
  margin-left: 60%;
}

.ms-61per {
  margin-left: 61%;
}

.ms-62per {
  margin-left: 62%;
}

.ms-63per {
  margin-left: 63%;
}

.ms-64per {
  margin-left: 64%;
}

.ms-65per {
  margin-left: 65%;
}

.ms-66per {
  margin-left: 66%;
}

.ms-67per {
  margin-left: 67%;
}

.ms-68per {
  margin-left: 68%;
}

.ms-69per {
  margin-left: 69%;
}

.ms-70per {
  margin-left: 70%;
}

.ms-71per {
  margin-left: 71%;
}

.ms-72per {
  margin-left: 72%;
}

.ms-73per {
  margin-left: 73%;
}

.ms-74per {
  margin-left: 74%;
}

.ms-75per {
  margin-left: 75%;
}

.ms-76per {
  margin-left: 76%;
}

.ms-77per {
  margin-left: 77%;
}

.ms-78per {
  margin-left: 78%;
}

.ms-79per {
  margin-left: 79%;
}

.ms-80per {
  margin-left: 80%;
}

.ms-81per {
  margin-left: 81%;
}

.ms-82per {
  margin-left: 82%;
}

.ms-83per {
  margin-left: 83%;
}

.ms-84per {
  margin-left: 84%;
}

.ms-85per {
  margin-left: 85%;
}

.ms-86per {
  margin-left: 86%;
}

.ms-87per {
  margin-left: 87%;
}

.ms-88per {
  margin-left: 88%;
}

.ms-89per {
  margin-left: 89%;
}

.ms-90per {
  margin-left: 90%;
}

.ms-91per {
  margin-left: 91%;
}

.ms-92per {
  margin-left: 92%;
}

.ms-93per {
  margin-left: 93%;
}

.ms-94per {
  margin-left: 94%;
}

.ms-95per {
  margin-left: 95%;
}

.ms-96per {
  margin-left: 96%;
}

.ms-97per {
  margin-left: 97%;
}

.ms-98per {
  margin-left: 98%;
}

.ms-99per {
  margin-left: 99%;
}

.ms-100per {
  margin-left: 100%;
}

.ms-1px {
  margin-left: 1px;
}

.ms-2px {
  margin-left: 2px;
}

.ms-3px {
  margin-left: 3px;
}

.ms-4px {
  margin-left: 4px;
}

.ms-5px {
  margin-left: 5px;
}

.ms-6px {
  margin-left: 6px;
}

.ms-7px {
  margin-left: 7px;
}

.ms-8px {
  margin-left: 8px;
}

.ms-9px {
  margin-left: 9px;
}

.ms-10px {
  margin-left: 10px;
}

.ms-11px {
  margin-left: 11px;
}

.ms-12px {
  margin-left: 12px;
}

.ms-13px {
  margin-left: 13px;
}

.ms-14px {
  margin-left: 14px;
}

.ms-15px {
  margin-left: 15px;
}

.ms-16px {
  margin-left: 16px;
}

.ms-17px {
  margin-left: 17px;
}

.ms-18px {
  margin-left: 18px;
}

.ms-19px {
  margin-left: 19px;
}

.ms-20px {
  margin-left: 20px;
}

.ms-21px {
  margin-left: 21px;
}

.ms-22px {
  margin-left: 22px;
}

.ms-23px {
  margin-left: 23px;
}

.ms-24px {
  margin-left: 24px;
}

.ms-25px {
  margin-left: 25px;
}

.ms-26px {
  margin-left: 26px;
}

.ms-27px {
  margin-left: 27px;
}

.ms-28px {
  margin-left: 28px;
}

.ms-29px {
  margin-left: 29px;
}

.ms-30px {
  margin-left: 30px;
}

.ms-31px {
  margin-left: 31px;
}

.ms-32px {
  margin-left: 32px;
}

.ms-33px {
  margin-left: 33px;
}

.ms-34px {
  margin-left: 34px;
}

.ms-35px {
  margin-left: 35px;
}

.ms-36px {
  margin-left: 36px;
}

.ms-37px {
  margin-left: 37px;
}

.ms-38px {
  margin-left: 38px;
}

.ms-39px {
  margin-left: 39px;
}

.ms-40px {
  margin-left: 40px;
}

.ms-41px {
  margin-left: 41px;
}

.ms-42px {
  margin-left: 42px;
}

.ms-43px {
  margin-left: 43px;
}

.ms-44px {
  margin-left: 44px;
}

.ms-45px {
  margin-left: 45px;
}

.ms-46px {
  margin-left: 46px;
}

.ms-47px {
  margin-left: 47px;
}

.ms-48px {
  margin-left: 48px;
}

.ms-49px {
  margin-left: 49px;
}

.ms-50px {
  margin-left: 50px;
}

.ms-51px {
  margin-left: 51px;
}

.ms-52px {
  margin-left: 52px;
}

.ms-53px {
  margin-left: 53px;
}

.ms-54px {
  margin-left: 54px;
}

.ms-55px {
  margin-left: 55px;
}

.ms-56px {
  margin-left: 56px;
}

.ms-57px {
  margin-left: 57px;
}

.ms-58px {
  margin-left: 58px;
}

.ms-59px {
  margin-left: 59px;
}

.ms-60px {
  margin-left: 60px;
}

.ms-61px {
  margin-left: 61px;
}

.ms-62px {
  margin-left: 62px;
}

.ms-63px {
  margin-left: 63px;
}

.ms-64px {
  margin-left: 64px;
}

.ms-65px {
  margin-left: 65px;
}

.ms-66px {
  margin-left: 66px;
}

.ms-67px {
  margin-left: 67px;
}

.ms-68px {
  margin-left: 68px;
}

.ms-69px {
  margin-left: 69px;
}

.ms-70px {
  margin-left: 70px;
}

.ms-71px {
  margin-left: 71px;
}

.ms-72px {
  margin-left: 72px;
}

.ms-73px {
  margin-left: 73px;
}

.ms-74px {
  margin-left: 74px;
}

.ms-75px {
  margin-left: 75px;
}

.ms-76px {
  margin-left: 76px;
}

.ms-77px {
  margin-left: 77px;
}

.ms-78px {
  margin-left: 78px;
}

.ms-79px {
  margin-left: 79px;
}

.ms-80px {
  margin-left: 80px;
}

.ms-81px {
  margin-left: 81px;
}

.ms-82px {
  margin-left: 82px;
}

.ms-83px {
  margin-left: 83px;
}

.ms-84px {
  margin-left: 84px;
}

.ms-85px {
  margin-left: 85px;
}

.ms-86px {
  margin-left: 86px;
}

.ms-87px {
  margin-left: 87px;
}

.ms-88px {
  margin-left: 88px;
}

.ms-89px {
  margin-left: 89px;
}

.ms-90px {
  margin-left: 90px;
}

.ms-91px {
  margin-left: 91px;
}

.ms-92px {
  margin-left: 92px;
}

.ms-93px {
  margin-left: 93px;
}

.ms-94px {
  margin-left: 94px;
}

.ms-95px {
  margin-left: 95px;
}

.ms-96px {
  margin-left: 96px;
}

.ms-97px {
  margin-left: 97px;
}

.ms-98px {
  margin-left: 98px;
}

.ms-99px {
  margin-left: 99px;
}

.ms-100px {
  margin-left: 100px;
}

/*#################################################################################################################################################################*/
/*                                                                        margin right                                                                             */
/*#################################################################################################################################################################*/
.me-1per {
  margin-right: 1%;
}

.me-2per {
  margin-right: 2%;
}

.me-3per {
  margin-right: 3%;
}

.me-4per {
  margin-right: 4%;
}

.me-5per {
  margin-right: 5%;
}

.me-6per {
  margin-right: 6%;
}

.me-7per {
  margin-right: 7%;
}

.me-8per {
  margin-right: 8%;
}

.me-9per {
  margin-right: 9%;
}

.me-10per {
  margin-right: 10%;
}

.me-11per {
  margin-right: 11%;
}

.me-12per {
  margin-right: 12%;
}

.me-13per {
  margin-right: 13%;
}

.me-14per {
  margin-right: 14%;
}

.me-15per {
  margin-right: 15%;
}

.me-16per {
  margin-right: 16%;
}

.me-17per {
  margin-right: 17%;
}

.me-18per {
  margin-right: 18%;
}

.me-19per {
  margin-right: 19%;
}

.me-20per {
  margin-right: 20%;
}

.me-21per {
  margin-right: 21%;
}

.me-22per {
  margin-right: 22%;
}

.me-23per {
  margin-right: 23%;
}

.me-24per {
  margin-right: 24%;
}

.me-25per {
  margin-right: 25%;
}

.me-26per {
  margin-right: 26%;
}

.me-27per {
  margin-right: 27%;
}

.me-28per {
  margin-right: 28%;
}

.me-29per {
  margin-right: 29%;
}

.me-30per {
  margin-right: 30%;
}

.me-31per {
  margin-right: 31%;
}

.me-32per {
  margin-right: 32%;
}

.me-33per {
  margin-right: 33%;
}

.me-34per {
  margin-right: 34%;
}

.me-35per {
  margin-right: 35%;
}

.me-36per {
  margin-right: 36%;
}

.me-37per {
  margin-right: 37%;
}

.me-38per {
  margin-right: 38%;
}

.me-39per {
  margin-right: 39%;
}

.me-40per {
  margin-right: 40%;
}

.me-41per {
  margin-right: 41%;
}

.me-42per {
  margin-right: 42%;
}

.me-43per {
  margin-right: 43%;
}

.me-44per {
  margin-right: 44%;
}

.me-45per {
  margin-right: 45%;
}

.me-46per {
  margin-right: 46%;
}

.me-47per {
  margin-right: 47%;
}

.me-48per {
  margin-right: 48%;
}

.me-49per {
  margin-right: 49%;
}

.me-50per {
  margin-right: 50%;
}

.me-51per {
  margin-right: 51%;
}

.me-52per {
  margin-right: 52%;
}

.me-53per {
  margin-right: 53%;
}

.me-54per {
  margin-right: 54%;
}

.me-55per {
  margin-right: 55%;
}

.me-56per {
  margin-right: 56%;
}

.me-57per {
  margin-right: 57%;
}

.me-58per {
  margin-right: 58%;
}

.me-59per {
  margin-right: 59%;
}

.me-60per {
  margin-right: 60%;
}

.me-61per {
  margin-right: 61%;
}

.me-62per {
  margin-right: 62%;
}

.me-63per {
  margin-right: 63%;
}

.me-64per {
  margin-right: 64%;
}

.me-65per {
  margin-right: 65%;
}

.me-66per {
  margin-right: 66%;
}

.me-67per {
  margin-right: 67%;
}

.me-68per {
  margin-right: 68%;
}

.me-69per {
  margin-right: 69%;
}

.me-70per {
  margin-right: 70%;
}

.me-71per {
  margin-right: 71%;
}

.me-72per {
  margin-right: 72%;
}

.me-73per {
  margin-right: 73%;
}

.me-74per {
  margin-right: 74%;
}

.me-75per {
  margin-right: 75%;
}

.me-76per {
  margin-right: 76%;
}

.me-77per {
  margin-right: 77%;
}

.me-78per {
  margin-right: 78%;
}

.me-79per {
  margin-right: 79%;
}

.me-80per {
  margin-right: 80%;
}

.me-81per {
  margin-right: 81%;
}

.me-82per {
  margin-right: 82%;
}

.me-83per {
  margin-right: 83%;
}

.me-84per {
  margin-right: 84%;
}

.me-85per {
  margin-right: 85%;
}

.me-86per {
  margin-right: 86%;
}

.me-87per {
  margin-right: 87%;
}

.me-88per {
  margin-right: 88%;
}

.me-89per {
  margin-right: 89%;
}

.me-90per {
  margin-right: 90%;
}

.me-91per {
  margin-right: 91%;
}

.me-92per {
  margin-right: 92%;
}

.me-93per {
  margin-right: 93%;
}

.me-94per {
  margin-right: 94%;
}

.me-95per {
  margin-right: 95%;
}

.me-96per {
  margin-right: 96%;
}

.me-97per {
  margin-right: 97%;
}

.me-98per {
  margin-right: 98%;
}

.me-99per {
  margin-right: 99%;
}

.me-100per {
  margin-right: 100%;
}

.me-1px {
  margin-right: 1px;
}

.me-2px {
  margin-right: 2px;
}

.me-3px {
  margin-right: 3px;
}

.me-4px {
  margin-right: 4px;
}

.me-5px {
  margin-right: 5px;
}

.me-6px {
  margin-right: 6px;
}

.me-7px {
  margin-right: 7px;
}

.me-8px {
  margin-right: 8px;
}

.me-9px {
  margin-right: 9px;
}

.me-10px {
  margin-right: 10px;
}

.me-11px {
  margin-right: 11px;
}

.me-12px {
  margin-right: 12px;
}

.me-13px {
  margin-right: 13px;
}

.me-14px {
  margin-right: 14px;
}

.me-15px {
  margin-right: 15px;
}

.me-16px {
  margin-right: 16px;
}

.me-17px {
  margin-right: 17px;
}

.me-18px {
  margin-right: 18px;
}

.me-19px {
  margin-right: 19px;
}

.me-20px {
  margin-right: 20px;
}

.me-21px {
  margin-right: 21px;
}

.me-22px {
  margin-right: 22px;
}

.me-23px {
  margin-right: 23px;
}

.me-24px {
  margin-right: 24px;
}

.me-25px {
  margin-right: 25px;
}

.me-26px {
  margin-right: 26px;
}

.me-27px {
  margin-right: 27px;
}

.me-28px {
  margin-right: 28px;
}

.me-29px {
  margin-right: 29px;
}

.me-30px {
  margin-right: 30px;
}

.me-31px {
  margin-right: 31px;
}

.me-32px {
  margin-right: 32px;
}

.me-33px {
  margin-right: 33px;
}

.me-34px {
  margin-right: 34px;
}

.me-35px {
  margin-right: 35px;
}

.me-36px {
  margin-right: 36px;
}

.me-37px {
  margin-right: 37px;
}

.me-38px {
  margin-right: 38px;
}

.me-39px {
  margin-right: 39px;
}

.me-40px {
  margin-right: 40px;
}

.me-41px {
  margin-right: 41px;
}

.me-42px {
  margin-right: 42px;
}

.me-43px {
  margin-right: 43px;
}

.me-44px {
  margin-right: 44px;
}

.me-45px {
  margin-right: 45px;
}

.me-46px {
  margin-right: 46px;
}

.me-47px {
  margin-right: 47px;
}

.me-48px {
  margin-right: 48px;
}

.me-49px {
  margin-right: 49px;
}

.me-50px {
  margin-right: 50px;
}

.me-51px {
  margin-right: 51px;
}

.me-52px {
  margin-right: 52px;
}

.me-53px {
  margin-right: 53px;
}

.me-54px {
  margin-right: 54px;
}

.me-55px {
  margin-right: 55px;
}

.me-56px {
  margin-right: 56px;
}

.me-57px {
  margin-right: 57px;
}

.me-58px {
  margin-right: 58px;
}

.me-59px {
  margin-right: 59px;
}

.me-60px {
  margin-right: 60px;
}

.me-61px {
  margin-right: 61px;
}

.me-62px {
  margin-right: 62px;
}

.me-63px {
  margin-right: 63px;
}

.me-64px {
  margin-right: 64px;
}

.me-65px {
  margin-right: 65px;
}

.me-66px {
  margin-right: 66px;
}

.me-67px {
  margin-right: 67px;
}

.me-68px {
  margin-right: 68px;
}

.me-69px {
  margin-right: 69px;
}

.me-70px {
  margin-right: 70px;
}

.me-71px {
  margin-right: 71px;
}

.me-72px {
  margin-right: 72px;
}

.me-73px {
  margin-right: 73px;
}

.me-74px {
  margin-right: 74px;
}

.me-75px {
  margin-right: 75px;
}

.me-76px {
  margin-right: 76px;
}

.me-77px {
  margin-right: 77px;
}

.me-78px {
  margin-right: 78px;
}

.me-79px {
  margin-right: 79px;
}

.me-80px {
  margin-right: 80px;
}

.me-81px {
  margin-right: 81px;
}

.me-82px {
  margin-right: 82px;
}

.me-83px {
  margin-right: 83px;
}

.me-84px {
  margin-right: 84px;
}

.me-85px {
  margin-right: 85px;
}

.me-86px {
  margin-right: 86px;
}

.me-87px {
  margin-right: 87px;
}

.me-88px {
  margin-right: 88px;
}

.me-89px {
  margin-right: 89px;
}

.me-90px {
  margin-right: 90px;
}

.me-91px {
  margin-right: 91px;
}

.me-92px {
  margin-right: 92px;
}

.me-93px {
  margin-right: 93px;
}

.me-94px {
  margin-right: 94px;
}

.me-95px {
  margin-right: 95px;
}

.me-96px {
  margin-right: 96px;
}

.me-97px {
  margin-right: 97px;
}

.me-98px {
  margin-right: 98px;
}

.me-99px {
  margin-right: 99px;
}

.me-100px {
  margin-right: 100px;
}

/*#################################################################################################################################################################*/
/*                                                                        margin Percentage                                                                        */
/*#################################################################################################################################################################*/
.m-1per {
  margin: 1%;
}

.m-2per {
  margin: 2%;
}

.m-3per {
  margin: 3%;
}

.m-4per {
  margin: 4%;
}

.m-5per {
  margin: 5%;
}

.m-6per {
  margin: 6%;
}

.m-7per {
  margin: 7%;
}

.m-8per {
  margin: 8%;
}

.m-9per {
  margin: 9%;
}

.m-10per {
  margin: 10%;
}

.m-11per {
  margin: 11%;
}

.m-12per {
  margin: 12%;
}

.m-13per {
  margin: 13%;
}

.m-14per {
  margin: 14%;
}

.m-15per {
  margin: 15%;
}

.m-16per {
  margin: 16%;
}

.m-17per {
  margin: 17%;
}

.m-18per {
  margin: 18%;
}

.m-19per {
  margin: 19%;
}

.m-20per {
  margin: 20%;
}

.m-21per {
  margin: 21%;
}

.m-22per {
  margin: 22%;
}

.m-23per {
  margin: 23%;
}

.m-24per {
  margin: 24%;
}

.m-25per {
  margin: 25%;
}

.m-26per {
  margin: 26%;
}

.m-27per {
  margin: 27%;
}

.m-28per {
  margin: 28%;
}

.m-29per {
  margin: 29%;
}

.m-30per {
  margin: 30%;
}

.m-31per {
  margin: 31%;
}

.m-32per {
  margin: 32%;
}

.m-33per {
  margin: 33%;
}

.m-34per {
  margin: 34%;
}

.m-35per {
  margin: 35%;
}

.m-36per {
  margin: 36%;
}

.m-37per {
  margin: 37%;
}

.m-38per {
  margin: 38%;
}

.m-39per {
  margin: 39%;
}

.m-40per {
  margin: 40%;
}

.m-41per {
  margin: 41%;
}

.m-42per {
  margin: 42%;
}

.m-43per {
  margin: 43%;
}

.m-44per {
  margin: 44%;
}

.m-45per {
  margin: 45%;
}

.m-46per {
  margin: 46%;
}

.m-47per {
  margin: 47%;
}

.m-48per {
  margin: 48%;
}

.m-49per {
  margin: 49%;
}

.m-50per {
  margin: 50%;
}

.m-51per {
  margin: 51%;
}

.m-52per {
  margin: 52%;
}

.m-53per {
  margin: 53%;
}

.m-54per {
  margin: 54%;
}

.m-55per {
  margin: 55%;
}

.m-56per {
  margin: 56%;
}

.m-57per {
  margin: 57%;
}

.m-58per {
  margin: 58%;
}

.m-59per {
  margin: 59%;
}

.m-60per {
  margin: 60%;
}

.m-61per {
  margin: 61%;
}

.m-62per {
  margin: 62%;
}

.m-63per {
  margin: 63%;
}

.m-64per {
  margin: 64%;
}

.m-65per {
  margin: 65%;
}

.m-66per {
  margin: 66%;
}

.m-67per {
  margin: 67%;
}

.m-68per {
  margin: 68%;
}

.m-69per {
  margin: 69%;
}

.m-70per {
  margin: 70%;
}

.m-71per {
  margin: 71%;
}

.m-72per {
  margin: 72%;
}

.m-73per {
  margin: 73%;
}

.m-74per {
  margin: 74%;
}

.m-75per {
  margin: 75%;
}

.m-76per {
  margin: 76%;
}

.m-77per {
  margin: 77%;
}

.m-78per {
  margin: 78%;
}

.m-79per {
  margin: 79%;
}

.m-80per {
  margin: 80%;
}

.m-81per {
  margin: 81%;
}

.m-82per {
  margin: 82%;
}

.m-83per {
  margin: 83%;
}

.m-84per {
  margin: 84%;
}

.m-85per {
  margin: 85%;
}

.m-86per {
  margin: 86%;
}

.m-87per {
  margin: 87%;
}

.m-88per {
  margin: 88%;
}

.m-89per {
  margin: 89%;
}

.m-90per {
  margin: 90%;
}

.m-91per {
  margin: 91%;
}

.m-92per {
  margin: 92%;
}

.m-93per {
  margin: 93%;
}

.m-94per {
  margin: 94%;
}

.m-95per {
  margin: 95%;
}

.m-96per {
  margin: 96%;
}

.m-97per {
  margin: 97%;
}

.m-98per {
  margin: 98%;
}

.m-99per {
  margin: 99%;
}

.m-100per {
  margin: 100%;
}

/*#################################################################################################################################################################*/
/*                                                                        margin Pixels                                                                            */
/*#################################################################################################################################################################*/
.m-1px {
  margin: 1px;
}

.m-2px {
  margin: 2px;
}

.m-3px {
  margin: 3px;
}

.m-4px {
  margin: 4px;
}

.m-5px {
  margin: 5px;
}

.m-6px {
  margin: 6px;
}

.m-7px {
  margin: 7px;
}

.m-8px {
  margin: 8px;
}

.m-9px {
  margin: 9px;
}

.m-10px {
  margin: 10px;
}

.m-11px {
  margin: 11px;
}

.m-12px {
  margin: 12px;
}

.m-13px {
  margin: 13px;
}

.m-14px {
  margin: 14px;
}

.m-15px {
  margin: 15px;
}

.m-16px {
  margin: 16px;
}

.m-17px {
  margin: 17px;
}

.m-18px {
  margin: 18px;
}

.m-19px {
  margin: 19px;
}

.m-20px {
  margin: 20px;
}

.m-21px {
  margin: 21px;
}

.m-22px {
  margin: 22px;
}

.m-23px {
  margin: 23px;
}

.m-24px {
  margin: 24px;
}

.m-25px {
  margin: 25px;
}

.m-26px {
  margin: 26px;
}

.m-27px {
  margin: 27px;
}

.m-28px {
  margin: 28px;
}

.m-29px {
  margin: 29px;
}

.m-30px {
  margin: 30px;
}

.m-31px {
  margin: 31px;
}

.m-32px {
  margin: 32px;
}

.m-33px {
  margin: 33px;
}

.m-34px {
  margin: 34px;
}

.m-35px {
  margin: 35px;
}

.m-36px {
  margin: 36px;
}

.m-37px {
  margin: 37px;
}

.m-38px {
  margin: 38px;
}

.m-39px {
  margin: 39px;
}

.m-40px {
  margin: 40px;
}

.m-41px {
  margin: 41px;
}

.m-42px {
  margin: 42px;
}

.m-43px {
  margin: 43px;
}

.m-44px {
  margin: 44px;
}

.m-45px {
  margin: 45px;
}

.m-46px {
  margin: 46px;
}

.m-47px {
  margin: 47px;
}

.m-48px {
  margin: 48px;
}

.m-49px {
  margin: 49px;
}

.m-50px {
  margin: 50px;
}

.m-51px {
  margin: 51px;
}

.m-52px {
  margin: 52px;
}

.m-53px {
  margin: 53px;
}

.m-54px {
  margin: 54px;
}

.m-55px {
  margin: 55px;
}

.m-56px {
  margin: 56px;
}

.m-57px {
  margin: 57px;
}

.m-58px {
  margin: 58px;
}

.m-59px {
  margin: 59px;
}

.m-60px {
  margin: 60px;
}

.m-61px {
  margin: 61px;
}

.m-62px {
  margin: 62px;
}

.m-63px {
  margin: 63px;
}

.m-64px {
  margin: 64px;
}

.m-65px {
  margin: 65px;
}

.m-66px {
  margin: 66px;
}

.m-67px {
  margin: 67px;
}

.m-68px {
  margin: 68px;
}

.m-69px {
  margin: 69px;
}

.m-70px {
  margin: 70px;
}

.m-71px {
  margin: 71px;
}

.m-72px {
  margin: 72px;
}

.m-73px {
  margin: 73px;
}

.m-74px {
  margin: 74px;
}

.m-75px {
  margin: 75px;
}

.m-76px {
  margin: 76px;
}

.m-77px {
  margin: 77px;
}

.m-78px {
  margin: 78px;
}

.m-79px {
  margin: 79px;
}

.m-80px {
  margin: 80px;
}

.m-81px {
  margin: 81px;
}

.m-82px {
  margin: 82px;
}

.m-83px {
  margin: 83px;
}

.m-84px {
  margin: 84px;
}

.m-85px {
  margin: 85px;
}

.m-86px {
  margin: 86px;
}

.m-87px {
  margin: 87px;
}

.m-88px {
  margin: 88px;
}

.m-89px {
  margin: 89px;
}

.m-90px {
  margin: 90px;
}

.m-91px {
  margin: 91px;
}

.m-92px {
  margin: 92px;
}

.m-93px {
  margin: 93px;
}

.m-94px {
  margin: 94px;
}

.m-95px {
  margin: 95px;
}

.m-96px {
  margin: 96px;
}

.m-97px {
  margin: 97px;
}

.m-98px {
  margin: 98px;
}

.m-99px {
  margin: 99px;
}

.m-100px {
  margin: 100px;
} 