/*#################################################################################################################################################################*/
/*                                                                        padding top                                                                               */
/*#################################################################################################################################################################*/
.pt-1per {
  padding-top: 1%;
}

.pt-2per {
  padding-top: 2%;
}

.pt-3per {
  padding-top: 3%;
}

.pt-4per {
  padding-top: 4%;
}

.pt-5per {
  padding-top: 5%;
}

.pt-6per {
  padding-top: 6%;
}

.pt-7per {
  padding-top: 7%;
}

.pt-8per {
  padding-top: 8%;
}

.pt-9per {
  padding-top: 9%;
}

.pt-10per {
  padding-top: 10%;
}

.pt-11per {
  padding-top: 11%;
}

.pt-12per {
  padding-top: 12%;
}

.pt-13per {
  padding-top: 13%;
}

.pt-14per {
  padding-top: 14%;
}

.pt-15per {
  padding-top: 15%;
}

.pt-16per {
  padding-top: 16%;
}

.pt-17per {
  padding-top: 17%;
}

.pt-18per {
  padding-top: 18%;
}

.pt-19per {
  padding-top: 19%;
}

.pt-20per {
  padding-top: 20%;
}

.pt-21per {
  padding-top: 21%;
}

.pt-22per {
  padding-top: 22%;
}

.pt-23per {
  padding-top: 23%;
}

.pt-24per {
  padding-top: 24%;
}

.pt-25per {
  padding-top: 25%;
}

.pt-26per {
  padding-top: 26%;
}

.pt-27per {
  padding-top: 27%;
}

.pt-28per {
  padding-top: 28%;
}

.pt-29per {
  padding-top: 29%;
}

.pt-30per {
  padding-top: 30%;
}

.pt-31per {
  padding-top: 31%;
}

.pt-32per {
  padding-top: 32%;
}

.pt-33per {
  padding-top: 33%;
}

.pt-34per {
  padding-top: 34%;
}

.pt-35per {
  padding-top: 35%;
}

.pt-36per {
  padding-top: 36%;
}

.pt-37per {
  padding-top: 37%;
}

.pt-38per {
  padding-top: 38%;
}

.pt-39per {
  padding-top: 39%;
}

.pt-40per {
  padding-top: 40%;
}

.pt-41per {
  padding-top: 41%;
}

.pt-42per {
  padding-top: 42%;
}

.pt-43per {
  padding-top: 43%;
}

.pt-44per {
  padding-top: 44%;
}

.pt-45per {
  padding-top: 45%;
}

.pt-46per {
  padding-top: 46%;
}

.pt-47per {
  padding-top: 47%;
}

.pt-48per {
  padding-top: 48%;
}

.pt-49per {
  padding-top: 49%;
}

.pt-50per {
  padding-top: 50%;
}

.pt-51per {
  padding-top: 51%;
}

.pt-52per {
  padding-top: 52%;
}

.pt-53per {
  padding-top: 53%;
}

.pt-54per {
  padding-top: 54%;
}

.pt-55per {
  padding-top: 55%;
}

.pt-56per {
  padding-top: 56%;
}

.pt-57per {
  padding-top: 57%;
}

.pt-58per {
  padding-top: 58%;
}

.pt-59per {
  padding-top: 59%;
}

.pt-60per {
  padding-top: 60%;
}

.pt-61per {
  padding-top: 61%;
}

.pt-62per {
  padding-top: 62%;
}

.pt-63per {
  padding-top: 63%;
}

.pt-64per {
  padding-top: 64%;
}

.pt-65per {
  padding-top: 65%;
}

.pt-66per {
  padding-top: 66%;
}

.pt-67per {
  padding-top: 67%;
}

.pt-68per {
  padding-top: 68%;
}

.pt-69per {
  padding-top: 69%;
}

.pt-70per {
  padding-top: 70%;
}

.pt-71per {
  padding-top: 71%;
}

.pt-72per {
  padding-top: 72%;
}

.pt-73per {
  padding-top: 73%;
}

.pt-74per {
  padding-top: 74%;
}

.pt-75per {
  padding-top: 75%;
}

.pt-76per {
  padding-top: 76%;
}

.pt-77per {
  padding-top: 77%;
}

.pt-78per {
  padding-top: 78%;
}

.pt-79per {
  padding-top: 79%;
}

.pt-80per {
  padding-top: 80%;
}

.pt-81per {
  padding-top: 81%;
}

.pt-82per {
  padding-top: 82%;
}

.pt-83per {
  padding-top: 83%;
}

.pt-84per {
  padding-top: 84%;
}

.pt-85per {
  padding-top: 85%;
}

.pt-86per {
  padding-top: 86%;
}

.pt-87per {
  padding-top: 87%;
}

.pt-88per {
  padding-top: 88%;
}

.pt-89per {
  padding-top: 89%;
}

.pt-90per {
  padding-top: 90%;
}

.pt-91per {
  padding-top: 91%;
}

.pt-92per {
  padding-top: 92%;
}

.pt-93per {
  padding-top: 93%;
}

.pt-94per {
  padding-top: 94%;
}

.pt-95per {
  padding-top: 95%;
}

.pt-96per {
  padding-top: 96%;
}

.pt-97per {
  padding-top: 97%;
}

.pt-98per {
  padding-top: 98%;
}

.pt-99per {
  padding-top: 99%;
}

.pt-100per {
  padding-top: 100%;
}

.pt-1px {
  padding-top: 1px;
}

.pt-2px {
  padding-top: 2px;
}

.pt-3px {
  padding-top: 3px;
}

.pt-4px {
  padding-top: 4px;
}

.pt-5px {
  padding-top: 5px;
}

.pt-6px {
  padding-top: 6px;
}

.pt-7px {
  padding-top: 7px;
}

.pt-8px {
  padding-top: 8px;
}

.pt-9px {
  padding-top: 9px;
}

.pt-10px {
  padding-top: 10px;
}

.pt-11px {
  padding-top: 11px;
}

.pt-12px {
  padding-top: 12px;
}

.pt-13px {
  padding-top: 13px;
}

.pt-14px {
  padding-top: 14px;
}

.pt-15px {
  padding-top: 15px;
}

.pt-16px {
  padding-top: 16px;
}

.pt-17px {
  padding-top: 17px;
}

.pt-18px {
  padding-top: 18px;
}

.pt-19px {
  padding-top: 19px;
}

.pt-20px {
  padding-top: 20px;
}

.pt-21px {
  padding-top: 21px;
}

.pt-22px {
  padding-top: 22px;
}

.pt-23px {
  padding-top: 23px;
}

.pt-24px {
  padding-top: 24px;
}

.pt-25px {
  padding-top: 25px;
}

.pt-26px {
  padding-top: 26px;
}

.pt-27px {
  padding-top: 27px;
}

.pt-28px {
  padding-top: 28px;
}

.pt-29px {
  padding-top: 29px;
}

.pt-30px {
  padding-top: 30px;
}

.pt-31px {
  padding-top: 31px;
}

.pt-32px {
  padding-top: 32px;
}

.pt-33px {
  padding-top: 33px;
}

.pt-34px {
  padding-top: 34px;
}

.pt-35px {
  padding-top: 35px;
}

.pt-36px {
  padding-top: 36px;
}

.pt-37px {
  padding-top: 37px;
}

.pt-38px {
  padding-top: 38px;
}

.pt-39px {
  padding-top: 39px;
}

.pt-40px {
  padding-top: 40px;
}

.pt-41px {
  padding-top: 41px;
}

.pt-42px {
  padding-top: 42px;
}

.pt-43px {
  padding-top: 43px;
}

.pt-44px {
  padding-top: 44px;
}

.pt-45px {
  padding-top: 45px;
}

.pt-46px {
  padding-top: 46px;
}

.pt-47px {
  padding-top: 47px;
}

.pt-48px {
  padding-top: 48px;
}

.pt-49px {
  padding-top: 49px;
}

.pt-50px {
  padding-top: 50px;
}

.pt-51px {
  padding-top: 51px;
}

.pt-52px {
  padding-top: 52px;
}

.pt-53px {
  padding-top: 53px;
}

.pt-54px {
  padding-top: 54px;
}

.pt-55px {
  padding-top: 55px;
}

.pt-56px {
  padding-top: 56px;
}

.pt-57px {
  padding-top: 57px;
}

.pt-58px {
  padding-top: 58px;
}

.pt-59px {
  padding-top: 59px;
}

.pt-60px {
  padding-top: 60px;
}

.pt-61px {
  padding-top: 61px;
}

.pt-62px {
  padding-top: 62px;
}

.pt-63px {
  padding-top: 63px;
}

.pt-64px {
  padding-top: 64px;
}

.pt-65px {
  padding-top: 65px;
}

.pt-66px {
  padding-top: 66px;
}

.pt-67px {
  padding-top: 67px;
}

.pt-68px {
  padding-top: 68px;
}

.pt-69px {
  padding-top: 69px;
}

.pt-70px {
  padding-top: 70px;
}

.pt-71px {
  padding-top: 71px;
}

.pt-72px {
  padding-top: 72px;
}

.pt-73px {
  padding-top: 73px;
}

.pt-74px {
  padding-top: 74px;
}

.pt-75px {
  padding-top: 75px;
}

.pt-76px {
  padding-top: 76px;
}

.pt-77px {
  padding-top: 77px;
}

.pt-78px {
  padding-top: 78px;
}

.pt-79px {
  padding-top: 79px;
}

.pt-80px {
  padding-top: 80px;
}

.pt-81px {
  padding-top: 81px;
}

.pt-82px {
  padding-top: 82px;
}

.pt-83px {
  padding-top: 83px;
}

.pt-84px {
  padding-top: 84px;
}

.pt-85px {
  padding-top: 85px;
}

.pt-86px {
  padding-top: 86px;
}

.pt-87px {
  padding-top: 87px;
}

.pt-88px {
  padding-top: 88px;
}

.pt-89px {
  padding-top: 89px;
}

.pt-90px {
  padding-top: 90px;
}

.pt-91px {
  padding-top: 91px;
}

.pt-92px {
  padding-top: 92px;
}

.pt-93px {
  padding-top: 93px;
}

.pt-94px {
  padding-top: 94px;
}

.pt-95px {
  padding-top: 95px;
}

.pt-96px {
  padding-top: 96px;
}

.pt-97px {
  padding-top: 97px;
}

.pt-98px {
  padding-top: 98px;
}

.pt-99px {
  padding-top: 99px;
}

.pt-100px {
  padding-top: 100px;
}

/*#################################################################################################################################################################*/
/*                                                                        padding bottom                                                                            */
/*#################################################################################################################################################################*/
.pb-1per {
  padding-bottom: 1%;
}

.pb-2per {
  padding-bottom: 2%;
}

.pb-3per {
  padding-bottom: 3%;
}

.pb-4per {
  padding-bottom: 4%;
}

.pb-5per {
  padding-bottom: 5%;
}

.pb-6per {
  padding-bottom: 6%;
}

.pb-7per {
  padding-bottom: 7%;
}

.pb-8per {
  padding-bottom: 8%;
}

.pb-9per {
  padding-bottom: 9%;
}

.pb-10per {
  padding-bottom: 10%;
}

.pb-11per {
  padding-bottom: 11%;
}

.pb-12per {
  padding-bottom: 12%;
}

.pb-13per {
  padding-bottom: 13%;
}

.pb-14per {
  padding-bottom: 14%;
}

.pb-15per {
  padding-bottom: 15%;
}

.pb-16per {
  padding-bottom: 16%;
}

.pb-17per {
  padding-bottom: 17%;
}

.pb-18per {
  padding-bottom: 18%;
}

.pb-19per {
  padding-bottom: 19%;
}

.pb-20per {
  padding-bottom: 20%;
}

.pb-21per {
  padding-bottom: 21%;
}

.pb-22per {
  padding-bottom: 22%;
}

.pb-23per {
  padding-bottom: 23%;
}

.pb-24per {
  padding-bottom: 24%;
}

.pb-25per {
  padding-bottom: 25%;
}

.pb-26per {
  padding-bottom: 26%;
}

.pb-27per {
  padding-bottom: 27%;
}

.pb-28per {
  padding-bottom: 28%;
}

.pb-29per {
  padding-bottom: 29%;
}

.pb-30per {
  padding-bottom: 30%;
}

.pb-31per {
  padding-bottom: 31%;
}

.pb-32per {
  padding-bottom: 32%;
}

.pb-33per {
  padding-bottom: 33%;
}

.pb-34per {
  padding-bottom: 34%;
}

.pb-35per {
  padding-bottom: 35%;
}

.pb-36per {
  padding-bottom: 36%;
}

.pb-37per {
  padding-bottom: 37%;
}

.pb-38per {
  padding-bottom: 38%;
}

.pb-39per {
  padding-bottom: 39%;
}

.pb-40per {
  padding-bottom: 40%;
}

.pb-41per {
  padding-bottom: 41%;
}

.pb-42per {
  padding-bottom: 42%;
}

.pb-43per {
  padding-bottom: 43%;
}

.pb-44per {
  padding-bottom: 44%;
}

.pb-45per {
  padding-bottom: 45%;
}

.pb-46per {
  padding-bottom: 46%;
}

.pb-47per {
  padding-bottom: 47%;
}

.pb-48per {
  padding-bottom: 48%;
}

.pb-49per {
  padding-bottom: 49%;
}

.pb-50per {
  padding-bottom: 50%;
}

.pb-51per {
  padding-bottom: 51%;
}

.pb-52per {
  padding-bottom: 52%;
}

.pb-53per {
  padding-bottom: 53%;
}

.pb-54per {
  padding-bottom: 54%;
}

.pb-55per {
  padding-bottom: 55%;
}

.pb-56per {
  padding-bottom: 56%;
}

.pb-57per {
  padding-bottom: 57%;
}

.pb-58per {
  padding-bottom: 58%;
}

.pb-59per {
  padding-bottom: 59%;
}

.pb-60per {
  padding-bottom: 60%;
}

.pb-61per {
  padding-bottom: 61%;
}

.pb-62per {
  padding-bottom: 62%;
}

.pb-63per {
  padding-bottom: 63%;
}

.pb-64per {
  padding-bottom: 64%;
}

.pb-65per {
  padding-bottom: 65%;
}

.pb-66per {
  padding-bottom: 66%;
}

.pb-67per {
  padding-bottom: 67%;
}

.pb-68per {
  padding-bottom: 68%;
}

.pb-69per {
  padding-bottom: 69%;
}

.pb-70per {
  padding-bottom: 70%;
}

.pb-71per {
  padding-bottom: 71%;
}

.pb-72per {
  padding-bottom: 72%;
}

.pb-73per {
  padding-bottom: 73%;
}

.pb-74per {
  padding-bottom: 74%;
}

.pb-75per {
  padding-bottom: 75%;
}

.pb-76per {
  padding-bottom: 76%;
}

.pb-77per {
  padding-bottom: 77%;
}

.pb-78per {
  padding-bottom: 78%;
}

.pb-79per {
  padding-bottom: 79%;
}

.pb-80per {
  padding-bottom: 80%;
}

.pb-81per {
  padding-bottom: 81%;
}

.pb-82per {
  padding-bottom: 82%;
}

.pb-83per {
  padding-bottom: 83%;
}

.pb-84per {
  padding-bottom: 84%;
}

.pb-85per {
  padding-bottom: 85%;
}

.pb-86per {
  padding-bottom: 86%;
}

.pb-87per {
  padding-bottom: 87%;
}

.pb-88per {
  padding-bottom: 88%;
}

.pb-89per {
  padding-bottom: 89%;
}

.pb-90per {
  padding-bottom: 90%;
}

.pb-91per {
  padding-bottom: 91%;
}

.pb-92per {
  padding-bottom: 92%;
}

.pb-93per {
  padding-bottom: 93%;
}

.pb-94per {
  padding-bottom: 94%;
}

.pb-95per {
  padding-bottom: 95%;
}

.pb-96per {
  padding-bottom: 96%;
}

.pb-97per {
  padding-bottom: 97%;
}

.pb-98per {
  padding-bottom: 98%;
}

.pb-99per {
  padding-bottom: 99%;
}

.pb-100per {
  padding-bottom: 100%;
}

.pb-1px {
  padding-bottom: 1px;
}

.pb-2px {
  padding-bottom: 2px;
}

.pb-3px {
  padding-bottom: 3px;
}

.pb-4px {
  padding-bottom: 4px;
}

.pb-5px {
  padding-bottom: 5px;
}

.pb-6px {
  padding-bottom: 6px;
}

.pb-7px {
  padding-bottom: 7px;
}

.pb-8px {
  padding-bottom: 8px;
}

.pb-9px {
  padding-bottom: 9px;
}

.pb-10px {
  padding-bottom: 10px;
}

.pb-11px {
  padding-bottom: 11px;
}

.pb-12px {
  padding-bottom: 12px;
}

.pb-13px {
  padding-bottom: 13px;
}

.pb-14px {
  padding-bottom: 14px;
}

.pb-15px {
  padding-bottom: 15px;
}

.pb-16px {
  padding-bottom: 16px;
}

.pb-17px {
  padding-bottom: 17px;
}

.pb-18px {
  padding-bottom: 18px;
}

.pb-19px {
  padding-bottom: 19px;
}

.pb-20px {
  padding-bottom: 20px;
}

.pb-21px {
  padding-bottom: 21px;
}

.pb-22px {
  padding-bottom: 22px;
}

.pb-23px {
  padding-bottom: 23px;
}

.pb-24px {
  padding-bottom: 24px;
}

.pb-25px {
  padding-bottom: 25px;
}

.pb-26px {
  padding-bottom: 26px;
}

.pb-27px {
  padding-bottom: 27px;
}

.pb-28px {
  padding-bottom: 28px;
}

.pb-29px {
  padding-bottom: 29px;
}

.pb-30px {
  padding-bottom: 30px;
}

.pb-31px {
  padding-bottom: 31px;
}

.pb-32px {
  padding-bottom: 32px;
}

.pb-33px {
  padding-bottom: 33px;
}

.pb-34px {
  padding-bottom: 34px;
}

.pb-35px {
  padding-bottom: 35px;
}

.pb-36px {
  padding-bottom: 36px;
}

.pb-37px {
  padding-bottom: 37px;
}

.pb-38px {
  padding-bottom: 38px;
}

.pb-39px {
  padding-bottom: 39px;
}

.pb-40px {
  padding-bottom: 40px;
}

.pb-41px {
  padding-bottom: 41px;
}

.pb-42px {
  padding-bottom: 42px;
}

.pb-43px {
  padding-bottom: 43px;
}

.pb-44px {
  padding-bottom: 44px;
}

.pb-45px {
  padding-bottom: 45px;
}

.pb-46px {
  padding-bottom: 46px;
}

.pb-47px {
  padding-bottom: 47px;
}

.pb-48px {
  padding-bottom: 48px;
}

.pb-49px {
  padding-bottom: 49px;
}

.pb-50px {
  padding-bottom: 50px;
}

.pb-51px {
  padding-bottom: 51px;
}

.pb-52px {
  padding-bottom: 52px;
}

.pb-53px {
  padding-bottom: 53px;
}

.pb-54px {
  padding-bottom: 54px;
}

.pb-55px {
  padding-bottom: 55px;
}

.pb-56px {
  padding-bottom: 56px;
}

.pb-57px {
  padding-bottom: 57px;
}

.pb-58px {
  padding-bottom: 58px;
}

.pb-59px {
  padding-bottom: 59px;
}

.pb-60px {
  padding-bottom: 60px;
}

.pb-61px {
  padding-bottom: 61px;
}

.pb-62px {
  padding-bottom: 62px;
}

.pb-63px {
  padding-bottom: 63px;
}

.pb-64px {
  padding-bottom: 64px;
}

.pb-65px {
  padding-bottom: 65px;
}

.pb-66px {
  padding-bottom: 66px;
}

.pb-67px {
  padding-bottom: 67px;
}

.pb-68px {
  padding-bottom: 68px;
}

.pb-69px {
  padding-bottom: 69px;
}

.pb-70px {
  padding-bottom: 70px;
}

.pb-71px {
  padding-bottom: 71px;
}

.pb-72px {
  padding-bottom: 72px;
}

.pb-73px {
  padding-bottom: 73px;
}

.pb-74px {
  padding-bottom: 74px;
}

.pb-75px {
  padding-bottom: 75px;
}

.pb-76px {
  padding-bottom: 76px;
}

.pb-77px {
  padding-bottom: 77px;
}

.pb-78px {
  padding-bottom: 78px;
}

.pb-79px {
  padding-bottom: 79px;
}

.pb-80px {
  padding-bottom: 80px;
}

.pb-81px {
  padding-bottom: 81px;
}

.pb-82px {
  padding-bottom: 82px;
}

.pb-83px {
  padding-bottom: 83px;
}

.pb-84px {
  padding-bottom: 84px;
}

.pb-85px {
  padding-bottom: 85px;
}

.pb-86px {
  padding-bottom: 86px;
}

.pb-87px {
  padding-bottom: 87px;
}

.pb-88px {
  padding-bottom: 88px;
}

.pb-89px {
  padding-bottom: 89px;
}

.pb-90px {
  padding-bottom: 90px;
}

.pb-91px {
  padding-bottom: 91px;
}

.pb-92px {
  padding-bottom: 92px;
}

.pb-93px {
  padding-bottom: 93px;
}

.pb-94px {
  padding-bottom: 94px;
}

.pb-95px {
  padding-bottom: 95px;
}

.pb-96px {
  padding-bottom: 96px;
}

.pb-97px {
  padding-bottom: 97px;
}

.pb-98px {
  padding-bottom: 98px;
}

.pb-99px {
  padding-bottom: 99px;
}

.pb-100px {
  padding-bottom: 100px;
}

/*#################################################################################################################################################################*/
/*                                                                        padding left                                                                              */
/*#################################################################################################################################################################*/
.ps-1per {
  padding-left: 1%;
}

.ps-2per {
  padding-left: 2%;
}

.ps-3per {
  padding-left: 3%;
}

.ps-4per {
  padding-left: 4%;
}

.ps-5per {
  padding-left: 5%;
}

.ps-6per {
  padding-left: 6%;
}

.ps-7per {
  padding-left: 7%;
}

.ps-8per {
  padding-left: 8%;
}

.ps-9per {
  padding-left: 9%;
}

.ps-10per {
  padding-left: 10%;
}

.ps-11per {
  padding-left: 11%;
}

.ps-12per {
  padding-left: 12%;
}

.ps-13per {
  padding-left: 13%;
}

.ps-14per {
  padding-left: 14%;
}

.ps-15per {
  padding-left: 15%;
}

.ps-16per {
  padding-left: 16%;
}

.ps-17per {
  padding-left: 17%;
}

.ps-18per {
  padding-left: 18%;
}

.ps-19per {
  padding-left: 19%;
}

.ps-20per {
  padding-left: 20%;
}

.ps-21per {
  padding-left: 21%;
}

.ps-22per {
  padding-left: 22%;
}

.ps-23per {
  padding-left: 23%;
}

.ps-24per {
  padding-left: 24%;
}

.ps-25per {
  padding-left: 25%;
}

.ps-26per {
  padding-left: 26%;
}

.ps-27per {
  padding-left: 27%;
}

.ps-28per {
  padding-left: 28%;
}

.ps-29per {
  padding-left: 29%;
}

.ps-30per {
  padding-left: 30%;
}

.ps-31per {
  padding-left: 31%;
}

.ps-32per {
  padding-left: 32%;
}

.ps-33per {
  padding-left: 33%;
}

.ps-34per {
  padding-left: 34%;
}

.ps-35per {
  padding-left: 35%;
}

.ps-36per {
  padding-left: 36%;
}

.ps-37per {
  padding-left: 37%;
}

.ps-38per {
  padding-left: 38%;
}

.ps-39per {
  padding-left: 39%;
}

.ps-40per {
  padding-left: 40%;
}

.ps-41per {
  padding-left: 41%;
}

.ps-42per {
  padding-left: 42%;
}

.ps-43per {
  padding-left: 43%;
}

.ps-44per {
  padding-left: 44%;
}

.ps-45per {
  padding-left: 45%;
}

.ps-46per {
  padding-left: 46%;
}

.ps-47per {
  padding-left: 47%;
}

.ps-48per {
  padding-left: 48%;
}

.ps-49per {
  padding-left: 49%;
}

.ps-50per {
  padding-left: 50%;
}

.ps-51per {
  padding-left: 51%;
}

.ps-52per {
  padding-left: 52%;
}

.ps-53per {
  padding-left: 53%;
}

.ps-54per {
  padding-left: 54%;
}

.ps-55per {
  padding-left: 55%;
}

.ps-56per {
  padding-left: 56%;
}

.ps-57per {
  padding-left: 57%;
}

.ps-58per {
  padding-left: 58%;
}

.ps-59per {
  padding-left: 59%;
}

.ps-60per {
  padding-left: 60%;
}

.ps-61per {
  padding-left: 61%;
}

.ps-62per {
  padding-left: 62%;
}

.ps-63per {
  padding-left: 63%;
}

.ps-64per {
  padding-left: 64%;
}

.ps-65per {
  padding-left: 65%;
}

.ps-66per {
  padding-left: 66%;
}

.ps-67per {
  padding-left: 67%;
}

.ps-68per {
  padding-left: 68%;
}

.ps-69per {
  padding-left: 69%;
}

.ps-70per {
  padding-left: 70%;
}

.ps-71per {
  padding-left: 71%;
}

.ps-72per {
  padding-left: 72%;
}

.ps-73per {
  padding-left: 73%;
}

.ps-74per {
  padding-left: 74%;
}

.ps-75per {
  padding-left: 75%;
}

.ps-76per {
  padding-left: 76%;
}

.ps-77per {
  padding-left: 77%;
}

.ps-78per {
  padding-left: 78%;
}

.ps-79per {
  padding-left: 79%;
}

.ps-80per {
  padding-left: 80%;
}

.ps-81per {
  padding-left: 81%;
}

.ps-82per {
  padding-left: 82%;
}

.ps-83per {
  padding-left: 83%;
}

.ps-84per {
  padding-left: 84%;
}

.ps-85per {
  padding-left: 85%;
}

.ps-86per {
  padding-left: 86%;
}

.ps-87per {
  padding-left: 87%;
}

.ps-88per {
  padding-left: 88%;
}

.ps-89per {
  padding-left: 89%;
}

.ps-90per {
  padding-left: 90%;
}

.ps-91per {
  padding-left: 91%;
}

.ps-92per {
  padding-left: 92%;
}

.ps-93per {
  padding-left: 93%;
}

.ps-94per {
  padding-left: 94%;
}

.ps-95per {
  padding-left: 95%;
}

.ps-96per {
  padding-left: 96%;
}

.ps-97per {
  padding-left: 97%;
}

.ps-98per {
  padding-left: 98%;
}

.ps-99per {
  padding-left: 99%;
}

.ps-100per {
  padding-left: 100%;
}

.ps-1px {
  padding-left: 1px;
}

.ps-2px {
  padding-left: 2px;
}

.ps-3px {
  padding-left: 3px;
}

.ps-4px {
  padding-left: 4px;
}

.ps-5px {
  padding-left: 5px;
}

.ps-6px {
  padding-left: 6px;
}

.ps-7px {
  padding-left: 7px;
}

.ps-8px {
  padding-left: 8px;
}

.ps-9px {
  padding-left: 9px;
}

.ps-10px {
  padding-left: 10px;
}

.ps-11px {
  padding-left: 11px;
}

.ps-12px {
  padding-left: 12px;
}

.ps-13px {
  padding-left: 13px;
}

.ps-14px {
  padding-left: 14px;
}

.ps-15px {
  padding-left: 15px;
}

.ps-16px {
  padding-left: 16px;
}

.ps-17px {
  padding-left: 17px;
}

.ps-18px {
  padding-left: 18px;
}

.ps-19px {
  padding-left: 19px;
}

.ps-20px {
  padding-left: 20px;
}

.ps-21px {
  padding-left: 21px;
}

.ps-22px {
  padding-left: 22px;
}

.ps-23px {
  padding-left: 23px;
}

.ps-24px {
  padding-left: 24px;
}

.ps-25px {
  padding-left: 25px;
}

.ps-26px {
  padding-left: 26px;
}

.ps-27px {
  padding-left: 27px;
}

.ps-28px {
  padding-left: 28px;
}

.ps-29px {
  padding-left: 29px;
}

.ps-30px {
  padding-left: 30px;
}

.ps-31px {
  padding-left: 31px;
}

.ps-32px {
  padding-left: 32px;
}

.ps-33px {
  padding-left: 33px;
}

.ps-34px {
  padding-left: 34px;
}

.ps-35px {
  padding-left: 35px;
}

.ps-36px {
  padding-left: 36px;
}

.ps-37px {
  padding-left: 37px;
}

.ps-38px {
  padding-left: 38px;
}

.ps-39px {
  padding-left: 39px;
}

.ps-40px {
  padding-left: 40px;
}

.ps-41px {
  padding-left: 41px;
}

.ps-42px {
  padding-left: 42px;
}

.ps-43px {
  padding-left: 43px;
}

.ps-44px {
  padding-left: 44px;
}

.ps-45px {
  padding-left: 45px;
}

.ps-46px {
  padding-left: 46px;
}

.ps-47px {
  padding-left: 47px;
}

.ps-48px {
  padding-left: 48px;
}

.ps-49px {
  padding-left: 49px;
}

.ps-50px {
  padding-left: 50px;
}

.ps-51px {
  padding-left: 51px;
}

.ps-52px {
  padding-left: 52px;
}

.ps-53px {
  padding-left: 53px;
}

.ps-54px {
  padding-left: 54px;
}

.ps-55px {
  padding-left: 55px;
}

.ps-56px {
  padding-left: 56px;
}

.ps-57px {
  padding-left: 57px;
}

.ps-58px {
  padding-left: 58px;
}

.ps-59px {
  padding-left: 59px;
}

.ps-60px {
  padding-left: 60px;
}

.ps-61px {
  padding-left: 61px;
}

.ps-62px {
  padding-left: 62px;
}

.ps-63px {
  padding-left: 63px;
}

.ps-64px {
  padding-left: 64px;
}

.ps-65px {
  padding-left: 65px;
}

.ps-66px {
  padding-left: 66px;
}

.ps-67px {
  padding-left: 67px;
}

.ps-68px {
  padding-left: 68px;
}

.ps-69px {
  padding-left: 69px;
}

.ps-70px {
  padding-left: 70px;
}

.ps-71px {
  padding-left: 71px;
}

.ps-72px {
  padding-left: 72px;
}

.ps-73px {
  padding-left: 73px;
}

.ps-74px {
  padding-left: 74px;
}

.ps-75px {
  padding-left: 75px;
}

.ps-76px {
  padding-left: 76px;
}

.ps-77px {
  padding-left: 77px;
}

.ps-78px {
  padding-left: 78px;
}

.ps-79px {
  padding-left: 79px;
}

.ps-80px {
  padding-left: 80px;
}

.ps-81px {
  padding-left: 81px;
}

.ps-82px {
  padding-left: 82px;
}

.ps-83px {
  padding-left: 83px;
}

.ps-84px {
  padding-left: 84px;
}

.ps-85px {
  padding-left: 85px;
}

.ps-86px {
  padding-left: 86px;
}

.ps-87px {
  padding-left: 87px;
}

.ps-88px {
  padding-left: 88px;
}

.ps-89px {
  padding-left: 89px;
}

.ps-90px {
  padding-left: 90px;
}

.ps-91px {
  padding-left: 91px;
}

.ps-92px {
  padding-left: 92px;
}

.ps-93px {
  padding-left: 93px;
}

.ps-94px {
  padding-left: 94px;
}

.ps-95px {
  padding-left: 95px;
}

.ps-96px {
  padding-left: 96px;
}

.ps-97px {
  padding-left: 97px;
}

.ps-98px {
  padding-left: 98px;
}

.ps-99px {
  padding-left: 99px;
}

.ps-100px {
  padding-left: 100px;
}

/*#################################################################################################################################################################*/
/*                                                                        padding right                                                                             */
/*#################################################################################################################################################################*/
.pe-1per {
  padding-right: 1%;
}

.pe-2per {
  padding-right: 2%;
}

.pe-3per {
  padding-right: 3%;
}

.pe-4per {
  padding-right: 4%;
}

.pe-5per {
  padding-right: 5%;
}

.pe-6per {
  padding-right: 6%;
}

.pe-7per {
  padding-right: 7%;
}

.pe-8per {
  padding-right: 8%;
}

.pe-9per {
  padding-right: 9%;
}

.pe-10per {
  padding-right: 10%;
}

.pe-11per {
  padding-right: 11%;
}

.pe-12per {
  padding-right: 12%;
}

.pe-13per {
  padding-right: 13%;
}

.pe-14per {
  padding-right: 14%;
}

.pe-15per {
  padding-right: 15%;
}

.pe-16per {
  padding-right: 16%;
}

.pe-17per {
  padding-right: 17%;
}

.pe-18per {
  padding-right: 18%;
}

.pe-19per {
  padding-right: 19%;
}

.pe-20per {
  padding-right: 20%;
}

.pe-21per {
  padding-right: 21%;
}

.pe-22per {
  padding-right: 22%;
}

.pe-23per {
  padding-right: 23%;
}

.pe-24per {
  padding-right: 24%;
}

.pe-25per {
  padding-right: 25%;
}

.pe-26per {
  padding-right: 26%;
}

.pe-27per {
  padding-right: 27%;
}

.pe-28per {
  padding-right: 28%;
}

.pe-29per {
  padding-right: 29%;
}

.pe-30per {
  padding-right: 30%;
}

.pe-31per {
  padding-right: 31%;
}

.pe-32per {
  padding-right: 32%;
}

.pe-33per {
  padding-right: 33%;
}

.pe-34per {
  padding-right: 34%;
}

.pe-35per {
  padding-right: 35%;
}

.pe-36per {
  padding-right: 36%;
}

.pe-37per {
  padding-right: 37%;
}

.pe-38per {
  padding-right: 38%;
}

.pe-39per {
  padding-right: 39%;
}

.pe-40per {
  padding-right: 40%;
}

.pe-41per {
  padding-right: 41%;
}

.pe-42per {
  padding-right: 42%;
}

.pe-43per {
  padding-right: 43%;
}

.pe-44per {
  padding-right: 44%;
}

.pe-45per {
  padding-right: 45%;
}

.pe-46per {
  padding-right: 46%;
}

.pe-47per {
  padding-right: 47%;
}

.pe-48per {
  padding-right: 48%;
}

.pe-49per {
  padding-right: 49%;
}

.pe-50per {
  padding-right: 50%;
}

.pe-51per {
  padding-right: 51%;
}

.pe-52per {
  padding-right: 52%;
}

.pe-53per {
  padding-right: 53%;
}

.pe-54per {
  padding-right: 54%;
}

.pe-55per {
  padding-right: 55%;
}

.pe-56per {
  padding-right: 56%;
}

.pe-57per {
  padding-right: 57%;
}

.pe-58per {
  padding-right: 58%;
}

.pe-59per {
  padding-right: 59%;
}

.pe-60per {
  padding-right: 60%;
}

.pe-61per {
  padding-right: 61%;
}

.pe-62per {
  padding-right: 62%;
}

.pe-63per {
  padding-right: 63%;
}

.pe-64per {
  padding-right: 64%;
}

.pe-65per {
  padding-right: 65%;
}

.pe-66per {
  padding-right: 66%;
}

.pe-67per {
  padding-right: 67%;
}

.pe-68per {
  padding-right: 68%;
}

.pe-69per {
  padding-right: 69%;
}

.pe-70per {
  padding-right: 70%;
}

.pe-71per {
  padding-right: 71%;
}

.pe-72per {
  padding-right: 72%;
}

.pe-73per {
  padding-right: 73%;
}

.pe-74per {
  padding-right: 74%;
}

.pe-75per {
  padding-right: 75%;
}

.pe-76per {
  padding-right: 76%;
}

.pe-77per {
  padding-right: 77%;
}

.pe-78per {
  padding-right: 78%;
}

.pe-79per {
  padding-right: 79%;
}

.pe-80per {
  padding-right: 80%;
}

.pe-81per {
  padding-right: 81%;
}

.pe-82per {
  padding-right: 82%;
}

.pe-83per {
  padding-right: 83%;
}

.pe-84per {
  padding-right: 84%;
}

.pe-85per {
  padding-right: 85%;
}

.pe-86per {
  padding-right: 86%;
}

.pe-87per {
  padding-right: 87%;
}

.pe-88per {
  padding-right: 88%;
}

.pe-89per {
  padding-right: 89%;
}

.pe-90per {
  padding-right: 90%;
}

.pe-91per {
  padding-right: 91%;
}

.pe-92per {
  padding-right: 92%;
}

.pe-93per {
  padding-right: 93%;
}

.pe-94per {
  padding-right: 94%;
}

.pe-95per {
  padding-right: 95%;
}

.pe-96per {
  padding-right: 96%;
}

.pe-97per {
  padding-right: 97%;
}

.pe-98per {
  padding-right: 98%;
}

.pe-99per {
  padding-right: 99%;
}

.pe-100per {
  padding-right: 100%;
}

.pe-1px {
  padding-right: 1px;
}

.pe-2px {
  padding-right: 2px;
}

.pe-3px {
  padding-right: 3px;
}

.pe-4px {
  padding-right: 4px;
}

.pe-5px {
  padding-right: 5px;
}

.pe-6px {
  padding-right: 6px;
}

.pe-7px {
  padding-right: 7px;
}

.pe-8px {
  padding-right: 8px;
}

.pe-9px {
  padding-right: 9px;
}

.pe-10px {
  padding-right: 10px;
}

.pe-11px {
  padding-right: 11px;
}

.pe-12px {
  padding-right: 12px;
}

.pe-13px {
  padding-right: 13px;
}

.pe-14px {
  padding-right: 14px;
}

.pe-15px {
  padding-right: 15px;
}

.pe-16px {
  padding-right: 16px;
}

.pe-17px {
  padding-right: 17px;
}

.pe-18px {
  padding-right: 18px;
}

.pe-19px {
  padding-right: 19px;
}

.pe-20px {
  padding-right: 20px;
}

.pe-21px {
  padding-right: 21px;
}

.pe-22px {
  padding-right: 22px;
}

.pe-23px {
  padding-right: 23px;
}

.pe-24px {
  padding-right: 24px;
}

.pe-25px {
  padding-right: 25px;
}

.pe-26px {
  padding-right: 26px;
}

.pe-27px {
  padding-right: 27px;
}

.pe-28px {
  padding-right: 28px;
}

.pe-29px {
  padding-right: 29px;
}

.pe-30px {
  padding-right: 30px;
}

.pe-31px {
  padding-right: 31px;
}

.pe-32px {
  padding-right: 32px;
}

.pe-33px {
  padding-right: 33px;
}

.pe-34px {
  padding-right: 34px;
}

.pe-35px {
  padding-right: 35px;
}

.pe-36px {
  padding-right: 36px;
}

.pe-37px {
  padding-right: 37px;
}

.pe-38px {
  padding-right: 38px;
}

.pe-39px {
  padding-right: 39px;
}

.pe-40px {
  padding-right: 40px;
}

.pe-41px {
  padding-right: 41px;
}

.pe-42px {
  padding-right: 42px;
}

.pe-43px {
  padding-right: 43px;
}

.pe-44px {
  padding-right: 44px;
}

.pe-45px {
  padding-right: 45px;
}

.pe-46px {
  padding-right: 46px;
}

.pe-47px {
  padding-right: 47px;
}

.pe-48px {
  padding-right: 48px;
}

.pe-49px {
  padding-right: 49px;
}

.pe-50px {
  padding-right: 50px;
}

.pe-51px {
  padding-right: 51px;
}

.pe-52px {
  padding-right: 52px;
}

.pe-53px {
  padding-right: 53px;
}

.pe-54px {
  padding-right: 54px;
}

.pe-55px {
  padding-right: 55px;
}

.pe-56px {
  padding-right: 56px;
}

.pe-57px {
  padding-right: 57px;
}

.pe-58px {
  padding-right: 58px;
}

.pe-59px {
  padding-right: 59px;
}

.pe-60px {
  padding-right: 60px;
}

.pe-61px {
  padding-right: 61px;
}

.pe-62px {
  padding-right: 62px;
}

.pe-63px {
  padding-right: 63px;
}

.pe-64px {
  padding-right: 64px;
}

.pe-65px {
  padding-right: 65px;
}

.pe-66px {
  padding-right: 66px;
}

.pe-67px {
  padding-right: 67px;
}

.pe-68px {
  padding-right: 68px;
}

.pe-69px {
  padding-right: 69px;
}

.pe-70px {
  padding-right: 70px;
}

.pe-71px {
  padding-right: 71px;
}

.pe-72px {
  padding-right: 72px;
}

.pe-73px {
  padding-right: 73px;
}

.pe-74px {
  padding-right: 74px;
}

.pe-75px {
  padding-right: 75px;
}

.pe-76px {
  padding-right: 76px;
}

.pe-77px {
  padding-right: 77px;
}

.pe-78px {
  padding-right: 78px;
}

.pe-79px {
  padding-right: 79px;
}

.pe-80px {
  padding-right: 80px;
}

.pe-81px {
  padding-right: 81px;
}

.pe-82px {
  padding-right: 82px;
}

.pe-83px {
  padding-right: 83px;
}

.pe-84px {
  padding-right: 84px;
}

.pe-85px {
  padding-right: 85px;
}

.pe-86px {
  padding-right: 86px;
}

.pe-87px {
  padding-right: 87px;
}

.pe-88px {
  padding-right: 88px;
}

.pe-89px {
  padding-right: 89px;
}

.pe-90px {
  padding-right: 90px;
}

.pe-91px {
  padding-right: 91px;
}

.pe-92px {
  padding-right: 92px;
}

.pe-93px {
  padding-right: 93px;
}

.pe-94px {
  padding-right: 94px;
}

.pe-95px {
  padding-right: 95px;
}

.pe-96px {
  padding-right: 96px;
}

.pe-97px {
  padding-right: 97px;
}

.pe-98px {
  padding-right: 98px;
}

.pe-99px {
  padding-right: 99px;
}

.pe-100px {
  padding-right: 100px;
}

/*#################################################################################################################################################################*/
/*                                                                        padding Percentage                                                                        */
/*#################################################################################################################################################################*/
.p-1per {
  padding: 1%;
}

.p-2per {
  padding: 2%;
}

.p-3per {
  padding: 3%;
}

.p-4per {
  padding: 4%;
}

.p-5per {
  padding: 5%;
}

.p-6per {
  padding: 6%;
}

.p-7per {
  padding: 7%;
}

.p-8per {
  padding: 8%;
}

.p-9per {
  padding: 9%;
}

.p-10per {
  padding: 10%;
}

.p-11per {
  padding: 11%;
}

.p-12per {
  padding: 12%;
}

.p-13per {
  padding: 13%;
}

.p-14per {
  padding: 14%;
}

.p-15per {
  padding: 15%;
}

.p-16per {
  padding: 16%;
}

.p-17per {
  padding: 17%;
}

.p-18per {
  padding: 18%;
}

.p-19per {
  padding: 19%;
}

.p-20per {
  padding: 20%;
}

.p-21per {
  padding: 21%;
}

.p-22per {
  padding: 22%;
}

.p-23per {
  padding: 23%;
}

.p-24per {
  padding: 24%;
}

.p-25per {
  padding: 25%;
}

.p-26per {
  padding: 26%;
}

.p-27per {
  padding: 27%;
}

.p-28per {
  padding: 28%;
}

.p-29per {
  padding: 29%;
}

.p-30per {
  padding: 30%;
}

.p-31per {
  padding: 31%;
}

.p-32per {
  padding: 32%;
}

.p-33per {
  padding: 33%;
}

.p-34per {
  padding: 34%;
}

.p-35per {
  padding: 35%;
}

.p-36per {
  padding: 36%;
}

.p-37per {
  padding: 37%;
}

.p-38per {
  padding: 38%;
}

.p-39per {
  padding: 39%;
}

.p-40per {
  padding: 40%;
}

.p-41per {
  padding: 41%;
}

.p-42per {
  padding: 42%;
}

.p-43per {
  padding: 43%;
}

.p-44per {
  padding: 44%;
}

.p-45per {
  padding: 45%;
}

.p-46per {
  padding: 46%;
}

.p-47per {
  padding: 47%;
}

.p-48per {
  padding: 48%;
}

.p-49per {
  padding: 49%;
}

.p-50per {
  padding: 50%;
}

.p-51per {
  padding: 51%;
}

.p-52per {
  padding: 52%;
}

.p-53per {
  padding: 53%;
}

.p-54per {
  padding: 54%;
}

.p-55per {
  padding: 55%;
}

.p-56per {
  padding: 56%;
}

.p-57per {
  padding: 57%;
}

.p-58per {
  padding: 58%;
}

.p-59per {
  padding: 59%;
}

.p-60per {
  padding: 60%;
}

.p-61per {
  padding: 61%;
}

.p-62per {
  padding: 62%;
}

.p-63per {
  padding: 63%;
}

.p-64per {
  padding: 64%;
}

.p-65per {
  padding: 65%;
}

.p-66per {
  padding: 66%;
}

.p-67per {
  padding: 67%;
}

.p-68per {
  padding: 68%;
}

.p-69per {
  padding: 69%;
}

.p-70per {
  padding: 70%;
}

.p-71per {
  padding: 71%;
}

.p-72per {
  padding: 72%;
}

.p-73per {
  padding: 73%;
}

.p-74per {
  padding: 74%;
}

.p-75per {
  padding: 75%;
}

.p-76per {
  padding: 76%;
}

.p-77per {
  padding: 77%;
}

.p-78per {
  padding: 78%;
}

.p-79per {
  padding: 79%;
}

.p-80per {
  padding: 80%;
}

.p-81per {
  padding: 81%;
}

.p-82per {
  padding: 82%;
}

.p-83per {
  padding: 83%;
}

.p-84per {
  padding: 84%;
}

.p-85per {
  padding: 85%;
}

.p-86per {
  padding: 86%;
}

.p-87per {
  padding: 87%;
}

.p-88per {
  padding: 88%;
}

.p-89per {
  padding: 89%;
}

.p-90per {
  padding: 90%;
}

.p-91per {
  padding: 91%;
}

.p-92per {
  padding: 92%;
}

.p-93per {
  padding: 93%;
}

.p-94per {
  padding: 94%;
}

.p-95per {
  padding: 95%;
}

.p-96per {
  padding: 96%;
}

.p-97per {
  padding: 97%;
}

.p-98per {
  padding: 98%;
}

.p-99per {
  padding: 99%;
}

.p-100per {
  padding: 100%;
}

/*#################################################################################################################################################################*/
/*                                                                        padding Pixels                                                                            */
/*#################################################################################################################################################################*/
.p-1px {
  padding: 1px;
}

.p-2px {
  padding: 2px;
}

.p-3px {
  padding: 3px;
}

.p-4px {
  padding: 4px;
}

.p-5px {
  padding: 5px;
}

.p-6px {
  padding: 6px;
}

.p-7px {
  padding: 7px;
}

.p-8px {
  padding: 8px;
}

.p-9px {
  padding: 9px;
}

.p-10px {
  padding: 10px;
}

.p-11px {
  padding: 11px;
}

.p-12px {
  padding: 12px;
}

.p-13px {
  padding: 13px;
}

.p-14px {
  padding: 14px;
}

.p-15px {
  padding: 15px;
}

.p-16px {
  padding: 16px;
}

.p-17px {
  padding: 17px;
}

.p-18px {
  padding: 18px;
}

.p-19px {
  padding: 19px;
}

.p-20px {
  padding: 20px;
}

.p-21px {
  padding: 21px;
}

.p-22px {
  padding: 22px;
}

.p-23px {
  padding: 23px;
}

.p-24px {
  padding: 24px;
}

.p-25px {
  padding: 25px;
}

.p-26px {
  padding: 26px;
}

.p-27px {
  padding: 27px;
}

.p-28px {
  padding: 28px;
}

.p-29px {
  padding: 29px;
}

.p-30px {
  padding: 30px;
}

.p-31px {
  padding: 31px;
}

.p-32px {
  padding: 32px;
}

.p-33px {
  padding: 33px;
}

.p-34px {
  padding: 34px;
}

.p-35px {
  padding: 35px;
}

.p-36px {
  padding: 36px;
}

.p-37px {
  padding: 37px;
}

.p-38px {
  padding: 38px;
}

.p-39px {
  padding: 39px;
}

.p-40px {
  padding: 40px;
}

.p-41px {
  padding: 41px;
}

.p-42px {
  padding: 42px;
}

.p-43px {
  padding: 43px;
}

.p-44px {
  padding: 44px;
}

.p-45px {
  padding: 45px;
}

.p-46px {
  padding: 46px;
}

.p-47px {
  padding: 47px;
}

.p-48px {
  padding: 48px;
}

.p-49px {
  padding: 49px;
}

.p-50px {
  padding: 50px;
}

.p-51px {
  padding: 51px;
}

.p-52px {
  padding: 52px;
}

.p-53px {
  padding: 53px;
}

.p-54px {
  padding: 54px;
}

.p-55px {
  padding: 55px;
}

.p-56px {
  padding: 56px;
}

.p-57px {
  padding: 57px;
}

.p-58px {
  padding: 58px;
}

.p-59px {
  padding: 59px;
}

.p-60px {
  padding: 60px;
}

.p-61px {
  padding: 61px;
}

.p-62px {
  padding: 62px;
}

.p-63px {
  padding: 63px;
}

.p-64px {
  padding: 64px;
}

.p-65px {
  padding: 65px;
}

.p-66px {
  padding: 66px;
}

.p-67px {
  padding: 67px;
}

.p-68px {
  padding: 68px;
}

.p-69px {
  padding: 69px;
}

.p-70px {
  padding: 70px;
}

.p-71px {
  padding: 71px;
}

.p-72px {
  padding: 72px;
}

.p-73px {
  padding: 73px;
}

.p-74px {
  padding: 74px;
}

.p-75px {
  padding: 75px;
}

.p-76px {
  padding: 76px;
}

.p-77px {
  padding: 77px;
}

.p-78px {
  padding: 78px;
}

.p-79px {
  padding: 79px;
}

.p-80px {
  padding: 80px;
}

.p-81px {
  padding: 81px;
}

.p-82px {
  padding: 82px;
}

.p-83px {
  padding: 83px;
}

.p-84px {
  padding: 84px;
}

.p-85px {
  padding: 85px;
}

.p-86px {
  padding: 86px;
}

.p-87px {
  padding: 87px;
}

.p-88px {
  padding: 88px;
}

.p-89px {
  padding: 89px;
}

.p-90px {
  padding: 90px;
}

.p-91px {
  padding: 91px;
}

.p-92px {
  padding: 92px;
}

.p-93px {
  padding: 93px;
}

.p-94px {
  padding: 94px;
}

.p-95px {
  padding: 95px;
}

.p-96px {
  padding: 96px;
}

.p-97px {
  padding: 97px;
}

.p-98px {
  padding: 98px;
}

.p-99px {
  padding: 99px;
}

.p-100px {
  padding: 100px;
} 